[2013-07-22 13:49] joshaber opened #2 "Do something reasonable if they haven't successfully downloaded an update in a while?"
This is something @aroben brought up at the Objective-C mini-summit.

If a user's on shitty internet and/or the updates are large, they could get into a situation where the update download never completes before they quit the app again. That sucks.

Maybe there's something reasonable we can do to improve that. Warn them so they leave the app open? Spawn a service to download the update?

[2013-07-22 13:53] joshaber opened #3 "Do something reasonable if they leave the app running for a super long time"
This is something @aroben brought up at the Objective-C mini-summit.

If the user just leaves the app open for forever, the user could be sitting on a version that needs to update but won't until they quit.

Maybe we could do something about that. Prompt the user, silently quit and re-launch (assuming good UI restoration), etc?

[2013-07-22 14:25] aroben opened #4 "Skip to the latest version even if a previous version has already been downloaded"
This is kinda a special case of #3.

Consider the following scenario:
1. Users launches app
2. App downloads an update
3. Time passes
4. An even newer update is posted

The app should download that newer update even though it hasn't had a chance to install the older one yet. I.e., we should abandon the old update once the newer one becomes available to install.

[2013-07-23 03:44] alanjrogers opened #5 "Delta updates"
We should consider shipping Delta updates so downloads can be quicker.

Obviously we should test the hell out of this so we don't install corrupt updates evar.

[2013-07-30 15:04] keithduncan opened #6 "Use XAR archives for distribution and the TOC to verify installs"
@alanjrogers told me about signing releases with expanded resource rules so that it includes all the files and we it can be used to verify the integrity of the binary post install

Instead of expanding the resource rules to include other binary files which themselves may include a signature, and would enforce a signing order to make sure we aren’t signing a binary after they’ve already been covere

[2013-08-03 12:33] keithduncan opened #7 "Updates based on identity should use Auth"
The username query parameter is easily spoof-able and shouldn’t be used for decisions relating to which updates the user is authorised to see

[2013-08-06 06:46] jspahrsummers opened #8 "Scrub SSZipArchive"
@keithduncan says it's a ghetto. We should clean it up.

[2013-08-06 06:47] jspahrsummers opened #9 "Move shipit executable out of Resources, codesign it separately"
Originally mentioned by @keithduncan in #1:

[2013-08-06 06:48] jspahrsummers opened #10 "Verify code signatures recursively"
Use `kSecCSCheckNestedCode` when validating the code signature of an update. Suggested by @keithduncan.

This means independently signing all of the dependencies and helpers we ship in our app bundle.

[2013-08-06 06:54] jspahrsummers opened #11 "Move lulz code out of Squirrel"
This is application-level logic. It doesn't need to be in the updater itself.

[2013-08-06 07:15] jspahrsummers opened #12 "Use the Releases API instead of Central"

[2013-08-06 18:59] jspahrsummers opened #13 "RACify SQRLUpdater"
Also remove `NSNotification`s in favor of KVO, where possible.

_no state machine no cry_

[2013-08-06 19:04] jspahrsummers opened #14 "Convert URLs to file URLs before using them"
And error out if any of those URLs don't have a valid `fileURL`.

[2013-08-06 19:10] joshaber opened #15 "SQRLInstaller should create the backup"
Currently `SQRLInstaller` requires that the user given them a `backupURL`. We should just make a backup destination for them.

[2013-08-06 19:25] alanjrogers opened #16 "Remove quarantine xattr before moving an update into place"
[Sparkle](https://github.com/aroben/Sparkle/blob/master/SUPlainInstallerInternals.m#L585) does this, and we probably should too.

[2013-08-06 19:27] #16 closed, assigned to nobody

[2013-08-06 21:51] jspahrsummers opened #17 "Support/test updating sandboxed apps"
If possible.

[2013-08-06 22:14] jspahrsummers opened #18 "Use XPC to communicate with shipit"
Then we can bless it, sandbox it, and do other nice things.

[2013-08-09 18:46] jspahrsummers opened #19 "Test installation across volumes"
We could use disk images to set this up in a test environment.

[2013-08-09 21:26] jspahrsummers opened #20 "Protect ShipIt from a compromised parent process"
There's a good write-up of potential security issues that we should address with an XPC service in andymatuschak/Sparkle#165.

[2013-08-13 01:35] jspahrsummers opened #21 "Remove launchd job after update installation completes"
It doesn't really hurt anything by being left there, but it might annoy advanced users who see a bunch of old jobs in their Library folder.

[2013-08-13 20:27] #18 closed, assigned to jspahrsummers

[2013-08-14 02:41] #8 closed, assigned to jspahrsummers

[2013-08-14 06:02] #19 closed, assigned to jspahrsummers

[2013-08-14 11:15] keithduncan opened #25 "Applications shouldn’t have to actively issue an install command"
From 301e750c5ff02398aa8430cdacff579873f33ea4

Squirrel as an automatic updater should schedule the installation of updates as soon as it receives them, an app should just have to kick off the checking for them.

This is also OS X sudden termination compatible, so that we don’t have to do work in `applicationWillTerminate:`

[2013-08-14 22:26] #14 closed, assigned to jspahrsummers

[2013-08-16 18:44] jspahrsummers opened #28 "Refactor SQRLUpdater into not-a-singleton"
Now that we're adding required properties to it (e.g., #27), a singleton is Weird™.

[2013-08-16 20:18] jspahrsummers opened #29 "Document expected JSON format for update API"
This information could go into the README, so anyone using Squirrel knows what they need to do on the server-side, and changes to the contract are much more visible.

[2013-08-16 20:18] jspahrsummers opened #30 "Document basic usage in the README"
Installation and using `SQRLUpdater`.

[2013-08-19 01:08] alanjrogers opened #32 "Optionally support using a Sparkle appcast"
So people can use Squirrel as a drop-in replacement for Sparkle, without updating their server.

[2013-08-19 13:39] #32 closed, assigned to nobody

[2013-09-06 07:37] jspahrsummers opened #39 "Automatically relaunch ShipIt if it doesn't finish cleanly"
As described in https://github.com/github/Squirrel/discussions/1386, this could provide some fault tolerance during shutdowns or power loss.

[2013-09-16 11:23] keithduncan opened #43 "Example client/server implementation"
We should have a sample app built on Squirrel which constructs a `NSURLRequest` including the bundle version.

We should also build a compatible server app which receives the requests and demonstrates the version number check to return 200 or 204.

---
- [ ] Example client app
- [x] Example server app

[2013-09-16 11:25] keithduncan opened #44 "Expand update request “context” API"
Our current context is the GitHub username, we should expand this support to include arbitrary key value pairs so that third parties can include their own context

[2013-09-16 17:34] keithduncan opened #46 "Download straight to disk, don’t accumulate in memory"
Currently the ZIP download keeps the data in memory, if we can avoid it we should stream this straight to disk

[2013-09-18 11:14] #7 closed, assigned to jspahrsummers

[2013-09-19 13:55] #28 closed, assigned to jspahrsummers

[2013-09-19 13:55] #44 closed, assigned to jspahrsummers

[2013-09-19 17:47] keithduncan opened #51 "Fix NSLocalizedString usage"
Currently these are looked up in the main app bundle where they won’t be found, change them to look up in the framework bundle

[2013-09-23 18:35] jspahrsummers opened #54 "No permissions prompt when running on a non-admin account"
A GHfM user reported that they're using a non-admin account, and of course all of the updates are failing to install when the account doesn't have permission to write to the relevant places.

Assumably, though, many people in this situation could _obtain_ administrator privileges, so we should prompt them for escalation if needed.

@keithduncan

[2013-09-24 09:54] keithduncan opened #55 "Use ASL for shipit logging"
ASL supports adding additional log files and will also roll the log files when they get large, though we need to check that it’ll roll an auxiliary log file too.

[2013-09-25 10:29] #11 closed, assigned to keithduncan

[2013-09-25 10:37] #29 closed, assigned to keithduncan

[2013-09-25 10:37] #30 closed, assigned to keithduncan

[2013-09-25 22:49] #15 closed, assigned to jspahrsummers

[2013-09-26 16:04] #54 closed, assigned to keithduncan

[2013-09-26 16:08] jspahrsummers opened #57 "Remember rejections of privilege escalation"
From #56, we should stop prompting users to log in (for administrator privileges) if they cancel the dialog 2 or 3 times.

However, manual update checks should always prompt.

[2013-09-27 17:50] keithduncan opened #58 "Use one error domain for the whole framework"
I don’t think we need to have a domain per class, could we use one for the framework and declare all the error codes in a single enum?

/cc @github/mac

[2013-10-01 11:00] keithduncan opened #60 "Support updating and relaunching another application"
This is going to be necessary for applications that aren’t 64-Bit.

My idea is to implement an XPC service in the Squirrel framework which links the Squirrel framework and can be used to control Squirrel remotely. This will require support for providing the host application that we want to update because it won’t be `NSBundle.mainBundle` or `NSRunningApplication.currentApplication` any more.

[2013-10-02 22:08] keithduncan opened #61 "Review how updates are relaunched when admin installed"
ShipIt is running as root when admin privileges are required to install, ShipIt should not use AppKit and probably shouldn’t launch apps

[2013-10-04 14:29] keithduncan opened #64 "Squirrel should support static update resources"
If we expect the server to branch on which response (update/no update) to send based on the version provided by the requester, whether that version is in a header or a query parameter, we can’t support static files.

So, is static file support important? If so we need to move the version equality check into the client so that it can retrieve the plain file and not update if the versions are the sa

[2013-10-08 10:39] keithduncan opened #66 "Improve bundle replacement security"
The requirement data shouldn’t be a client submitted parameter, ShipIt should determine the requirement from the designated requirement of the bundle being replaced.

With the current API an admin installed shipit can be used in an attack to replace any bundle by supplying a replacement bundle and the serialised requirement `true`.

[2013-10-10 22:29] jspahrsummers opened #68 "Remove ACLs on the target bundle when installing"
Mike Abdullah has a blog post wherein he describes [ACLs that prevent deletion](http://www.mikeabdullah.net/atomically-copying-a-file.html). This could prevent the app from ever being updated, so we should handle it somehow.

[2013-10-14 18:05] jspahrsummers opened #69 "Target application is not relaunched when updating fails"
Even if the target bundle is never touched, we just bail out instead of relaunching the app like they expect.

[2013-10-16 19:52] #4 closed, assigned to jspahrsummers

[2013-10-16 19:52] #25 closed, assigned to jspahrsummers

[2013-10-16 19:52] #39 closed, assigned to jspahrsummers

[2013-10-16 19:52] #13 closed, assigned to jspahrsummers

[2013-11-18 19:45] #69 closed, assigned to jspahrsummers

[2013-11-19 18:34] jspahrsummers opened #84 "Disallow applications containing symlinks that point outside of the bundle"
A symlink attack could be used against such an application, to allow malicious code to be installed (possibly with superuser permissions, in the case of a privileged install).

This wouldn't really be a bug in Squirrel, but it might be something we should prevent on behalf of client applications.

[2013-12-18 21:45] robrix opened #95 "Updates aren’t always cleaned up"
In ~/Library/Application Support/com.github.GitHub.ShipIt/, I have a number of update.<hash> folders containing .zips of builds of GitHub for Mac, and a couple which are empty. Additionally, at least one user has reported something similar where the actual .app bundles are still present (and indexed by Alfred).
1. Is it safe for me (and the user) to delete these?
2. Is Squirrel not tidying suffici

[2014-01-03 18:51] jspahrsummers opened #96 "AuthorizationRef should not be bridged to id"
@keithduncan believes this is the cause of a crash we're seeing when an attempt is made to obtain administrator privileges.

[2014-01-07 18:49] #96 closed, assigned to nobody

[2014-01-16 01:00] joshaber opened #99 "-startAutomaticChecksWithInterval: should immediately check for updates"
When I first launch the app, it should check for updates. It looks like `-startAutomaticChecksWithInterval:` only checks after the interval.

[2014-01-20 17:59] jspahrsummers opened #100 "ShipIt logs placed directly in Application Support"
See https://twitter.com/rafifyalda/status/425229746465943552. It's unclear exactly what version this occurred on, or whether it's still an issue.

[2014-01-21 22:25] #95 closed, assigned to jspahrsummers

[2014-01-22 18:40] keithduncan opened #105 "Add status notification again"
Clients of the framework should be able to display a status that an update is available and is being downloaded, rather than having to wait for there to be an update fully downloaded to display status.

[2014-01-27 16:07] #60 closed, assigned to nobody

[2014-01-28 03:13] thedaniel opened #107 "Doc ambiguity"
The [docs here](https://github.com/Squirrel/Squirrel.Mac/blob/master/README.md#server-support) indicate a URL will be requested with a specific mime type, and that the server must correctly determine whether an update is required, but do not say anything about the HTTP verb or the means of communicating the version (header, query param, post body etc). I can look at the speakeasy example code, but

[2014-01-28 16:46] robrix opened #108 "Put the updates in the Caches folder"
Updates presumably don’t need to be backed up, and the semantics of the Caches folder as interpreted by e.g. Spotlight, Time Machine, etc., would seem to be a good fit for our updates.

https://halp.githubapp.com/inboxes/github-for-mac/discussions/a810dc6c85bb11e39b4018677bfa2224

[2014-01-28 23:02] #107 closed, assigned to nobody

[2014-01-30 20:07] keithduncan opened #110 "Receiving an update response then a no update response should not update"
Need to ensure that if we check for updates twice in a single launch, that the most recent response being no update is respected.

[2014-01-30 20:09] keithduncan opened #111 "Should only download an update once"
If the check interval ticks over multiple times, ensure that the same update isn’t downloaded and prepared both times. It would be a waste of bandwidth to download the same update twice.

[2014-01-31 17:51] #43 closed, assigned to nobody

[2014-02-03 19:23] probablycorey opened #112 "Expose release version in SQRLUpdate"
I'd like to display the new release version when one is downloaded. Is there a reason it isn't exposed in `https://github.com/Squirrel/Squirrel.Mac/blob/master/Squirrel/`?

[2014-02-03 19:27] #112 closed, assigned to nobody

[2014-02-05 17:30] #105 closed, assigned to nobody

[2014-02-06 19:36] #66 closed, assigned to keithduncan

[2014-03-21 21:27] joshaber opened #115 "Cannot decode SQRLShipItRequest crash"
@robrix and I have seen this a few times. Initially I thought it was just an artifact of having an old update hanging around, but I deleted `com.github.GitHub.ShipIt` and then saw it again after another update.

[code]

[2014-04-15 17:54] #115 closed, assigned to robrix

[2014-04-25 17:49] probablycorey opened #117 "Errors installing updates"
Atom has been getting [reports](https://github.com/atom/atom/issues/1834) of auto-update failures. It can be fixed by following these instructions

We are using an older build of Squirrel.Mac from a few months ago. Is this a bug that has been fixed or does this sound like a new bug?

[2014-04-28 19:34] joshaber opened #118 "Crash while checking for updates?"
A couple different backtraces:

[code]

[code]

[2014-04-28 19:42] #117 closed, assigned to nobody

[2014-05-14 03:41] robrix opened #120 "README text is unclear"
In what way do those differ? I feel like this should be clarified, but I don’t know what it means.

[2014-05-15 18:07] jspahrsummers opened #121 "Send messages from the update server"
It'd be great to use the updating mechanism as an automatic way to push out notices to client applications.

For example, if a user on 10.obsolete requests an update, the server can reply with “No updates available, also here's a message explaining that,” and the app can decide whether to present that text or not.

[2014-08-11 19:32] jspahrsummers opened #124 "App can crash if relaunched manually during update installation"
It's unclear the exact set of circumstances that can cause this, but relaunching the parent application too quickly (i.e., when update installation has begun but not completed) can result in crashes from trying to load incorrect nibs, and probably other resources too.

We could maybe fix this by having Squirrel automatically abort installation if it notices that the application has started again.

[2014-08-24 20:40] abillingsley opened #125 "Add CocoaPods as Supported Install method"
### Description

[CocoaPods](http://cocoapods.org/) is a popular dependency manager for Objective-C projects.  It would be nice to be able to include Squirrel in applications via CocoaPods.
### CocoaPods Requirements
- [ ] Start using Tags for versioning
- [ ] Create [Podspec](http://guides.cocoapods.org/syntax/podspec.html)
- [ ] Publish the Podspec to [CocoaPod's Specs Repo](https://github.com/C

[2014-08-25 15:51] #125 closed, assigned to nobody

[2014-10-07 04:09] #20 closed, assigned to jspahrsummers

[2014-10-23 18:20] jspahrsummers opened #131 "Failure to install updates that require administrator privileges"
Even though we prompt for a password, it apparently still fails. See https://github.com/atom/atom/issues/2860#issuecomment-59517219 and later comments for some example logs.

[2014-12-03 15:56] robrix opened #134 "Interrupting `deep-codesign` can leave `.cstemp` files, breaking future signing"
If I happen to ⌘. a build at the wrong moment, `deep-codesign` will leave `.cstemp` files around. Future builds will fail to sign as a result:

[code]

Can we prevent temporary signing files from being left in the product being signed? Failing that, can `deep-codesign` do something like `find . -name *.cstemp -print0 | xargs -0 rm`?

[2014-12-05 21:12] #134 closed, assigned to nobody

[2014-12-08 18:36] #118 closed, assigned to jspahrsummers

[2014-12-08 19:03] reggi opened #137 "What should be returned if no update is necessary?"
- Should it be an empty JSON?
- Should it be a 404 error?

[2014-12-08 19:09] #137 closed, assigned to nobody

[2014-12-14 16:19] #12 closed, assigned to nobody

[2015-02-07 21:05] robrix commented on #108
Apparently [1Password has been seeing update failures](http://rickfillion.tumblr.com/post/110370590958/1password-update-failures) similar to some we’ve seen with Squirrel.

Michael Jurewitz comments that [it’s inappropriate for either `NSTemporaryDirectory()` or `Caches`](https://twitter.com/Jury/status/564166559468224513), so one ought to use `~/Library/Application Support/` and [be good about ti

[2015-02-08 06:28] jspahrsummers commented on #108
@robrix We currently use Application Support already—but it's untenable, because its contents are added to the LaunchServices database.

All of the temporary directory stuff is while _actually installing_ the update, not just when it's been downloaded.

[2015-02-08 15:09] robrix commented on #108
Thanks for the context :bow:

[2015-03-06 18:26] jspahrsummers opened #144 "Add Carthage compatibility badge to the README"
Using [these instructions](https://github.com/Carthage/Carthage/blob/7a0153cc164e301c46527f6e20c886728a0dc218/README.md#declare-your-compatibility).

[2015-04-01 14:03] PetrKarbula commented on #95
I had in that folder 3.46gb worth of updates :sweat_smile:

[2015-05-18 05:01] psequel opened #146 "Stuck at random step while trying to install Squirrel through Carthage"
There is only one line in my Cartfile, `github "Squirrel/Squirrel.Mac" == 0.1.6`. Tried `cart update` a few times and it never succeed -- stuck at a different step each time. Removing `carthage` and `org.carthage.CarthageKit` directories in `~/Library/Caches` doesn't help.

[2015-05-18 07:37] keithduncan commented on #146
This seems like a Carthage issue, could you open an issue in [Carthage](https://github.com/Carthage/Carthage/issues) including details of which version of carthage you have installed.

[2015-05-18 07:37] #146 closed

[2015-06-16 21:47] msphair opened #147 "Does Squirrel have a plan if deprecated functions are removed?"
specifically `SMJobSubmit`?

[2015-06-17 06:55] keithduncan commented on #147
We don’t, we rely on having some means to schedule work with the system process manager, currently launchd.

[2015-06-19 12:21] bostondv opened #148 "Update fails (OSStatus error -60005)"
I'm working on an update to our Electron app that updates from Atom Shell v0.20.8 to Electron v0.27.3. Running the auto updater in app results in this error during the download:

`The operation couldn’t be completed. (OSStatus error -60005.)`

I've checked everything I could think of. Code signing on old and new versions of the .app is valid, the update is successfully found on the server and have

[2015-06-19 14:03] mdiep commented on #148
The error code is [errAuthorizationDenied](https://developer.apple.com/library/mac/documentation/Security/Reference/authorization_ref/index.html#//apple_ref/c/econst/errAuthorizationDenied).

[2015-06-19 14:18] bostondv commented on #148
Thanks, is there something I can do to make it allow authorization?

[2015-08-19 12:07] sauloperez opened #150 "Update fails with CFErrorDomainLaunchd error 4"
We're implementing auto-update in our Electron-based app. The update bundle gets downloaded successfully, but right after, the following error shows up:

`The operation couldn’t be completed. (CFErrorDomainLaunchd error 4.): (null)`

`codesign --verify` doesn't show any error, so it doesn't seem to be related to code signing.

Furthermore, it can't be reproduced in all machines. We've seen it in a

[2015-08-19 12:40] keithduncan commented on #150
Do you know which API is that error returned from / what the backtrace is when that error occurs?

[2015-08-19 12:49] sauloperez commented on #150
Nope. This is all I get. I didn't find any log in `~/Library`.

The error actually appears after the `Download completed to: ... ` log.

[2015-08-20 10:54] sauloperez commented on #150
Continuing with our investigations we found the ShipIt_stderr.log of a dummy test app we created to try the autoupdate in where we got the same `CFErrorDomainLaunchd` error.

[code]

It looks like a permissions issue to me. The fact that we can't find any ShipIt log in our app's Application Support directory might be also related to that cause.

[2015-08-20 12:40] sauloperez commented on #150
By inspecting `SQRLInstaller.m` we see the root cause for the ErrorDomain could be in two places.

As of Squirrel 0.1.6 the call to `mkdtemp` to create the backup dir fails with a `NSPOSIXErrorDomain` setting `userInfo:nil`. But also, when removing said dir using `rmdir`, fails with another a `NSPOSIXErrorDomain` with empty `userInfo`.

Looks like the last `(null)` shown in the original error matc

[2015-08-22 00:52] joshuawilde commented on #150
I'd like to know about this too, I'm getting the same error as well.

[2015-08-22 00:55] joshuawilde commented on #150
@sauloperez What version of OS X are you running?

[2015-08-22 01:23] joshuawilde commented on #150
Disabling Sandbox fixed the issue.

[2015-08-24 05:47] keithduncan commented on #150
Squirrel.Mac doesn’t currently support sandboxed applications because it relies on [SMJobSubmit](https://github.com/Squirrel/Squirrel.Mac/blob/9e040347f5766ece29044a29b6286c11af202370/Squirrel/SQRLShipItLauncher.m#L140) to schedule the background installer process.

[2015-08-24 05:58] keithduncan commented on #150
It looks like the error

[code]

is coming from [`-[SQRLInstaller copyBundleAtURL:toDirectory:]`](https://github.com/Squirrel/Squirrel.Mac/blob/6252f3dbda6332979248753dfce28c6a3bd4ab7f/Squirrel/SQRLInstaller.m#L363-L382) when attempting to copy the proposed update to the temporary location for permissions and quarantine cleaning.

So from ShipIt’s execution perspective it cannot `readdir` `/Users/

[2015-09-09 21:57] thughes opened #151 "The file `ShipItState.plist` couldn’t be opened because there is no such file"
In an Electron-based app, I encountered an issue where one user was unable to update. The logs in `ShipIt_stderr.log` showed this message over and over:

[code]

However, `ShipItState.plist` did exist, but the two log files had different permissions than the `plist` file and the update directory:
[code]

Doing a `chown` fixed the issue:
[code]

It looks like others are hitting this same issue: htt

[2015-09-09 22:02] thughes commented on #151
Another example of the same issue: https://discuss.atom.io/t/update-not-working-com-github-atom-shipit-respawns-all-the-time/9819/15

[2015-09-10 05:34] keithduncan commented on #151
Good debugging, does creating these log files ahead of time as the non-priviledged user fix this? Can we get an improved error message in this failure case given that it’s the log file permissions at fault and not the non existence of the install request file?

[2015-09-10 17:23] thughes commented on #151
I'll see if I can reproduce it on the machine that had the issue and try pre-creating the log files.

[2015-09-10 21:20] thughes commented on #151
Unfortunately, I haven't been able to reproduce the issue, so it seems like it must be a race. Perhaps the best thing is to intentionally `chown` the files as shown above and see if squirrel can be made to be defensive about the situation?

[2015-09-10 22:39] eject-it commented on #151
Reproducing this error is rather easy. Just chmod the ~/Library/  with 700 as it is supposed to be. At least that is what it used to be way back.
Because your actual User Name folder is 755, so in a multiuser Account people can come in and see your folders. From there, /Users/myName/ , they then can access your public folder where you can share stuff with other users of that computer. It also cont

[2015-10-27 08:55] jenslind opened #155 "GitHub releases"
Looks like there is support for using GitHub releases as your host in Squirrel for windows.
https://github.com/Squirrel/Squirrel.Windows/blob/master/docs/api.md#github-updatemanager

Are there any plans on adding this feature to Mac?

[2015-10-27 11:39] keithduncan commented on #155
We are keen to add support for updating from static resources as discussed in https://github.com/Squirrel/Squirrel.Mac/issues/64 but decided against it for our initial release.

I can’t say any of us plan to work on this in the near term :grimacing:

I’m going to close this in favour of the static update resources issue I linked to, thank you for filing your question though :bow:

[2015-10-27 11:39] #155 closed

[2015-10-27 12:36] jenslind commented on #155
Alright, thanks!

[2015-10-29 11:37] romaincointepas commented on #5
Jumping in a little more than 2 years later!

With the rise of electron (atom-shell) integrating Squirrel and creating apps > 30MB including a lot of not-so-frequently-changing files, maybe this feature would make way more sense today?

It's also there in Squirrel Windows (thanks to NuGet) so that would ISO things out.

Thoughts?

[2015-10-29 14:13] joshaber commented on #5
It'd certainly be great! Pull requests welcome :smile:

[2015-11-18 23:09] markmentovai opened #157 "Non-admin that owns an app in /Applications can’t update it"
I’m a non-admin user (for security purposes), but I know that Atom doesn’t update itself properly when owned by another user, so I made a concession and allowed it to be owned by my non-admin user. I still stuck it in /Applications, which my non-admin user doesn’t have write access to.

Atom still can’t update itself. I get “Restart and Install Update” in the Atom menu, but when I hit it, Atom res

[2015-11-18 23:13] joshaber commented on #157
Thanks for opening this up! We're already tracking this issue at #131.

[2015-11-18 23:15] mark-chromium commented on #157
I think that this is different from #131. I actually do own Atom.app, but I can’t write to its parent directory. It doesn’t prompt for a password (as it does in #131) but the update fails.

[2015-11-18 23:47] joshaber commented on #157
Fair enough!

[2015-11-23 20:03] faddah commented on #131
+1 on this really needs to be fixed. this has been a problem with squirrel and auto-updates on Mac OS X since Mac OS X 10.9.4 & atom 0.110.0, and we're now on Mac OS X 10.11.1 El Capitan and Atom 1.2.3.

[2015-11-26 02:06] erikmellum commented on #131
+1 Needs to be fixed. Running into this in Zurbs new Yeti Launch app.

[2015-11-26 09:52] jspahrsummers commented on #131
Please do not +1 issues. If you would like to see this fixed sooner, consider submitting a pull request instead.

[2015-11-29 22:38] AnAtomUser commented on #131
Temporary workaround for end-users: Install the app you are trying to use to `~/Applications' rather than '/Applications' and set the app to 'Keep-in-dock' so you can easily find it.  It's not a great workaround since most other apps install to '/Applications', but it will at least enable a normal end-user to use the original app (such as Atom) and get access to auto-updates.

[2015-11-30 22:17] tom2zip opened #158 "Can't extract the update zip file in .ShipIt"
I have the auto update set up for my Electron app. The actual update fails with the following error:
Could not locate update bundle for com.{appname} within file:///Users/{me}/Library/Application%20Support/com.{appname}.ShipIt/update.nQcEUZ3/: (null)

I can see the zip file from my update server being downloaded but the whole update folder (update.nQcEUZ3 in that particular case) gets deleted righ

[2015-12-09 12:42] bitomule commented on #158
I also have this issue, any idea on how to fix it?

[2015-12-11 09:20] bitomule commented on #158
Can anyone help me with this please?

[2015-12-11 14:52] joshaber commented on #158
Off the top of my head I don't know what would be causing it. GitHub Desktop and Atom both use it and, AFAIK, don't have this problem. So we'd need more information about *how* you're using it to begin to debug.

[2015-12-11 20:53] bitomule commented on #158
Thanks @joshaber. I'll try to share all I know. I'm using:

- electron 0.35.2
- electron-packager 5.1.1
- electron-gh-releases 2.0.2
- electron-release 2.2.0

I build the app using:
[code]

Once I have the app I upload it to github using electron-release:

[code]

If you know of any test or change I can do I'll do anything trying to help with the error.

[2015-12-11 21:22] joshaber commented on #158
I'm not sure how electron-gh-releases works but that seems like a likely subject.

[2015-12-11 21:28] bitomule commented on #158
electron-gh-releases seems to be working file. It just gives electron auto updater the zip url. Squirrel downloads the zip but then it's removed and and error is thrown.

In this line it sets the feedUrl. Is that fine? Not sure where squirrel starts it's work.
https://github.com/jenslind/electron-gh-releases/blob/master/src/GhReleases.js#L129

[2015-12-11 21:38] joshaber commented on #158
My guess is that the code signature check failed.

[2015-12-11 21:43] bitomule commented on #158
@joshaber so maybe the issue is with electron-packager? Does Atom or Github desktop use other osx packager? Any help on how to debug the issue would be great :)

[2015-12-11 21:51] joshaber commented on #158
Maybe, or with the cert?

They both use different methods for packaging the apps.

Check out the `codesign` utility. E.g., `codesign --verify -vvvv /path/to/your/app`.

[2015-12-11 22:00] bitomule commented on #158
Thanks @joshaber just downloaded the zip from the github repo (the one downloaded to update) and runned codesign verify on it, here's the output:

[code]

I don't see anything wrong.

[2015-12-15 21:56] aekeus commented on #158
We are experiencing the identical issue while updating an Electron app. codesign is showing everything as signed correctly. Any updates on this issue?

[2015-12-15 22:08] joshaber commented on #158
I don't have any other ideas off the top of my head. If someone could provide a small, self-contained example it'd be easier to debug.

[2015-12-15 23:23] tom2zip commented on #158
I think I found the error and it's something trivial too, I feel so dumb :(
Instead of having a .app file in the zip file, I had something else

[2015-12-16 11:34] bitomule commented on #158
Yeah, same issue here. I was uploading the dmg inside zip.

[2015-12-16 14:35] joshaber commented on #158
:+1: Sounds like this is safe to close then.

[2015-12-16 14:35] #158 closed

[2016-01-11 07:20] keithduncan commented on #158
Could the error messaging here be improved to help find this issue faster in the future?

[2016-01-13 18:12] sergiovilar opened #160 "Error changing certificate: Code signature at URL did not pass validation"
Hello!

Currently my application is distributed using a Apple Developer certificate in the codesign process. But the Developer Certificate by itself is not enought to the "Mac Apple Store and identified developers" security level:

![Screeshot](http://d.pr/i/X8bj.jpg)

So, I generated an Apple Store certificate and used in my codesign process, but during the update I received this error:

[code]

[2016-01-14 06:21] keithduncan commented on #160
For an update to be considered valid it must meet the *designated requirement* of the current version.

This is done to verify the authenticity of a given update, and to prevent a malicious update from being installed over the top of a genuine version.

To find what the designated requirement of your published application is run the following:

[code]

it will print something of the form:

[code]

[2016-01-15 11:57] sergiovilar commented on #160
@keithduncan that's great! Thanks for the explanation but how can I include another designated requirement?

[2016-01-15 23:49] keithduncan commented on #160
The [Code Signing Guide](https://developer.apple.com/library/mac/documentation/Security/Conceptual/CodeSigningGuide/Procedures/Procedures.html#//apple_ref/doc/uid/TP40005929-CH4-SW4) covers providing a custom requirement, there’s probably a build setting in Xcode to provide a requirements file but I don’t know what it is off the top of my head. Good luck :bow:

[2016-01-15 23:58] #160 closed

[2016-01-29 09:44] wialy opened #161 "Update error: The file couldn’t be saved in the folder"
Hi,

I'm using Github Electron updateUpdater module on OSX and get an error:

The file “update.******_” couldn’t be saved in the folder “com.electron.**_*******.ShipIt”.

This module is a wrapper of Squirrel.Mac, so the error is probably thrown by it. Do you know how can I resolve this issue or at least get more information about what causes an error?

[2016-01-30 16:30] citrusui opened #162 "support .patch files"
Rather than download a huge zip every time an app updates, why not use .patch files? [Homebrew](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/ruby.rb) seems to support them. The syntax would probably look like this:

[code]

Bonuses:
- .patch files are trivial to make
- faster updates

Caveats:
- Windows doesn't support .patch files
- manually creating patches sucks, so you'd pr

[2016-01-31 23:42] keithduncan commented on #162
Thanks for opening this issue!

I had plans to support something like this using a new [`Accept`](https://github.com/Squirrel/Squirrel.Mac#update-json-format) type for the update request.

This can can be added in a simple, backwards compatible way by updating the Squirrel.Mac client to support requesting an `application/binary-patch` MIME type against the `url` field returned to it in the JSON re

[2016-02-01 03:57] keithduncan commented on #161
We’d need an Objective-C backtrace to be able to diagnose this error :confused:

[2016-02-08 19:27] btelintelo commented on #151
Was there ever a permanent fix to this issue?  What can I do with the computer novice out in the wild that cannot update and gets this prompt all the time?

[2016-02-09 18:49] btelintelo opened #163 "Update process breaks app when double clicking and opening the app"
Here is what I'm seeing...please tell me why I'm crazy.

1.  User downloads my electron app on mac which has squirrel auto updating.
2.  Instead of dragging app to applications, user double clicks the app to open.
3.  Once open, an message pops up that says "An update is ready to install....type your password to allow this."

Typing the password does nothing, the app doesn't update.  Now, if the u

[2016-02-09 18:53] mdiep commented on #163
That's not [what brick means](https://en.wikipedia.org/wiki/Brick_(electronics)).

[2016-02-09 20:33] btelintelo commented on #163
Here are the errors every 2 seconds in stderr: Installation error: Error Domain=SQRLShipItRequestErrorDomain Code=2 "Could not read update request" UserInfo={NSLocalizedDescription=Could not read update request, NSUnderlyingError=0x7f9f81703c40 {Error Domain=NSCocoaErrorDomain Code=260 "The file “ShipItState.plist” couldn’t be opened because there is no such file." UserInfo={NSFilePath=/var/root/L

[2016-02-16 14:07] svileng opened #164 "App doesn't restart after update"
I'm using Electron `0.36.7` (and OSX `10.11`) and when I call `autoUpdater.quitAndInstall()`, the app quits to install the update, but it doesn't start afterwards; when I start it manually, I can see that the update was applied successfully.

The issue was initially reported here atom/electron#4488, but it seems that no changes have been made on the Electron-side recently, so @zcbenz guesses that

[2016-02-23 12:38] perlun commented on #151
Getting this error now, with Atom. ~/Library is mode 700 for me (using El Capitan).

[2016-02-25 15:09] juturu opened #166 "Installing updates without using squirrel.mac download updates code"
Hi,

I'm building an app for Windows and MAC using Electron. I have an authenticated site hosting app updates. In my app side, i'm checking for updates and downloading updates (as a common modules for Windows and MAC).

Is it possible to use just the quit and install from squirrel.mac module given the updates are downloaded in the same place as squirrel.mac? Or Is there any way to quit and install

[2016-02-25 23:03] keithduncan commented on #166
@juturu I think you could achieve what you’re looking for with an `SQRLUpdater` subclass that overrides `checkForUpdatesCommand` to perform the update checking, download and preparation in your own manner. That command’s execution signal is expected to return an `SQRLDownloadedUpdate` instance which will then be provided to the rest of the installation machinery.

[2016-02-27 20:43] ruvenss commented on #161
I can confirm I have the same error. just with the GitHub Mac OS X Client

[2016-02-29 23:11] juturu commented on #166
Thanks @keithduncan Can we add Authorization header to the check for updates GET call to enable using with secured end-points to this module? Users of the module could pass in the header contents to squirrel for making sure check for updates will succeed.

[2016-03-01 00:49] keithduncan commented on #166
Yep, if you’re performing the HTTP request yourself your code will be responsible for that, if you’re using the built-in network request you can set headers on the `NSURLRequest` you provide to (`-[SQRLUpdater initWithUpdateRequest:]`)[https://github.com/Squirrel/Squirrel.Mac/blob/4a5041124602b061155e994429ed7958cae2411d/Squirrel/SQRLUpdater.h#L102-L112].

I’m not familiar with how the Squirrel.Ma

[2016-03-05 12:32] juturu commented on #166
Thanks @keithduncan

[2016-03-05 12:32] #166 closed

[2016-03-11 15:50] emorikawa commented on #151
This issue appears to happen when people open the app directly from the DMG instead of copying to their Applications folder first.

The app will open fine, but once the download finishes updating the following prompt appears:

![image](https://cloud.githubusercontent.com/assets/489001/13707132/38465b68-e776-11e5-9189-f4c05ea49655.png)

When the password is entered, Squirrel is now run as `root`, t

[2016-03-11 15:52] emorikawa commented on #163
Yes, I get the same behavior, and yes it permanently keeps people who do this on old versions!

I put more info about this on this related issue here: https://github.com/Squirrel/Squirrel.Mac/issues/151

[2016-03-11 15:54] emorikawa commented on #151
Based on our update logs. I estimate this is affecting about 3-6% of our entire user base.

[2016-03-11 15:57] btelintelo commented on #151
We stopped distributing the dmg and instead distribute the .app file which seems to work fine, but doesn't give the user a nice interface to install to the apps directory.

[2016-03-28 22:02] salomvary opened #167 "Allow hosting updates on static web servers with no control over response status code"
In order to enable simple applications to host their updates on static web servers where there is no control over response status codes (ie. no way to meet this requirement: "If no update is required your server must respond with a status code of **204 No Content**.") allow 404 or 200 with zero length response to update requests when no update is available. (Maybe as a configurable option?)

Use c

[2016-05-07 22:45] brandon-7 opened #168 "zip file does not download from Windows servers"
The zip file that is specified as the url in my json update file does not download when on Azure or an IIS web server.  The file is being served (I can download the file by typing the url in a browser) but the update process fails to download it.

I moved my zip file to Amazon's S3 service and it downloads correctly (http://mybucket.s3-website-us-east-1.amazonaws.com/myapp.zip)

[2016-05-08 19:48] keithduncan commented on #168
I’d start by looking at a network packet trace using something like https://www.charlesproxy.com or Wireshark to see where the HTTP responses differ.

My guess is that this is something to do with Accept types and the response Content-Type, but it’s hard to say without more data.

[2016-05-08 21:26] brandon-7 commented on #168
Okay, I'll close this until I setup another test server.

[2016-05-08 21:26] #168 closed

[2016-05-10 15:58] joshaber commented on #167
Agreed that would be nice. We're already tracking this in #64.

[2016-05-10 15:58] #167 closed

[2016-05-31 23:18] caesar commented on #108
Is there any progress with this? I see the ticket has been open for over two years...

I've just been facing this issue in Atom, which uses Squirrel to update.

Because it temporarily stores downloaded updates at `~/Library/Application Support/com.github.atom.ShipIt/`, these updates get included in Time Machine backups.
This causes a huge amount of backup churn - often several hundreds of megabyte

[2016-06-01 13:37] joshaber commented on #108
@caesar Nope, this is still an issue.

I agree we should store them in `~/Library/Caches/`.

[2016-06-01 17:31] joshaber commented on #164
Haven't had any other reports of this.

[2016-06-01 17:31] #164 closed

[2016-06-01 17:32] joshaber commented on #100
Stale.

[2016-06-01 17:32] #100 closed

[2016-06-01 17:33] joshaber commented on #162
This is essentially a dupe of #5.

[2016-06-01 17:33] #162 closed

[2016-06-01 17:34] joshaber opened #170 "Truncate logs"
I've seen a few reports of log files that were 1+ gigs on disk. We should really truncate them.

[2016-06-01 17:37] joshaber commented on #150
Gonna chalk this one up to sandboxing.

[2016-06-01 17:37] #150 closed

[2016-06-01 17:37] joshaber commented on #148
Stale.

[2016-06-01 17:37] #148 closed

[2016-06-01 17:41] joshaber commented on #163
Seems similar/a dupe of #151.

[2016-06-01 17:41] #163 closed

[2016-06-01 17:49] #120 closed

[2016-06-01 18:14] robrix commented on #120
Nice :+1:

[2016-06-02 14:07] #108 closed

[2016-06-02 14:13] #111 closed

[2016-06-02 15:30] caesar commented on #108
Good work @joshaber, thanks!  🎉

[2016-06-03 16:43] #170 closed

[2016-06-04 17:32] wesleywesley opened #173 "Give user choice to install update now or not (similar to squirrel.windows)"
There are cases where automatic download is not wanted (for example, when I'm tethered to a mobile connection).

Squirrel.windows seems to allow more control than Squirrel.mac - it would be nice if both could have similar options.

Please see here:

https://github.com/Squirrel/Squirrel.Windows/issues/721#issuecomment-223670339

[2016-06-04 17:54] keithduncan commented on #173
The `SQRLUpdater` class similarly allows you to check manually or enable automatic checks, your client application can decide whether to enable automatic checks based on some external criteria like WWAN connectivity.

[2016-06-08 18:12] joshaber opened #174 "Downloaded updates are pruned by subsequent update checks"
This was introduced by https://github.com/Squirrel/Squirrel.Mac/pull/171 :see_no_evil::

1. Check for updates.
1. Prune existing downloads.
1. Download an update.
1. Check for updates.
1. Prune existing downloads.
1. Conditional `GET` means we don't re-download.
1. Now we don't have an update downloaded anymore.

[2016-06-08 18:15] joshaber commented on #174
Interestingly, this means we've always had the possibility that:

1. Check for updates.
1. Prune existing downloads.
1. Download an update.
1. Check for updates.
1. Prune existing downloads.
1. Quit the app.
1. We try to install an update that's no longer downloaded.

[2016-06-11 16:42] atdrago commented on #148
@bostondv I know this is old, but did you ever get an answer? I'm having the same issue with my Electron app.

[2016-06-12 15:28] #174 closed

[2016-06-15 16:17] ghost opened #177 "The Update Framework"
Would be nice if squirrel.mac would follow "The Update Framework" specification as it is much more secure than what is used now.

`In order to securely download and verify target files, TUF requires a few extra files to exist on a repository. These are called metadata files. TUF metadata files contain additional information, including information about which keys are trusted, the cryptographic has

[2016-06-15 16:33] kunkinkan commented on #177
Alternatively, and perhaps much simpler, for codesigned mac apps, only allow updates that are also codesigned with the same ID. (Or is this already the case?)

[2016-06-15 16:55] kunkinkan commented on #177
https://github.com/Squirrel/Squirrel.Windows/issues/739#issuecomment-226248641

[2016-06-15 17:04] joshaber commented on #177
Yup, this is already the case. We verify the signature before allowing the update: https://github.com/Squirrel/Squirrel.Mac/blob/e9e2188cda3efb4bc08b1719bdef71880f9dc9b1/Squirrel/SQRLCodeSignature.m#L103

[2016-06-15 17:17] kunkinkan commented on #177
OK great thanks would be nice if that piece of information was included in the documentation.

But I'm not sure what that does; does this compare the code signature ID of the app with the code signature ID of the update, or does it only check if the update is codesigned? (which could have a different ID)? is this what initWithRequirement is for?

[2016-06-15 17:37] joshaber commented on #177
Yup it would 😬

It verifies that their signatures match.

It is done by default. There's no support for not doing it.

[2016-06-20 08:27] tfar opened #178 "Build Squirrel.Mac as self-contained, distributable .framework"
I'm trying to use Squirrel in a project. That project doesn't build using XCode. What `xctool` command line do I run to produce a Squirrel.framework folder which can then be simply used using `-F` and `-framework` compiler flags?

[2016-06-20 10:14] keithduncan commented on #178
What errors are you seeing building Squirrel with Xcode?

[2016-06-20 11:32] tfar commented on #178
Running ` xctool -scheme Squirrel` in a recursively checked out Squirrel.Mac repo results in the following on OS X 10.11.5:
[code]

[2016-06-20 11:47] keithduncan commented on #178
Have you run `script/bootstrap` to set up and download the dependencies? The error here is that it cannot find Mantle which must either be provided by the workspace you’re building Squirrel as a part of or downloaded by Carthage.

[2016-06-20 11:51] tfar commented on #178
Running `script/bootstrap` doesn't fix the error:
[code]

[2016-06-21 13:27] tfar commented on #178
This is the correct script to run to have the dependencies downloaded, right? It is the right command to build the self-contained Squirrel.framework, right?

[2016-06-21 14:20] joshaber commented on #178
It seems to bootstrap fine for me:

[code]

Try again with a fresh clone. If that still fails, it could be an Xcode version thing. I'm on 7.2.1.

[2016-06-21 14:31] tfar commented on #178
Just tried a fresh normal clone (no --recursive) followed by bootstrap and xctool, same error. `xcodebuild -version` says i'm running Xcode 7.3.1.
[code]

[2016-06-21 14:38] joshaber commented on #178
Ah, I misunderstood. I thought bootstrap was failing too.

Instead of `xctool`, run `carthage build --no-skip-current --platform osx`

[2016-06-21 14:44] tfar commented on #178
There's no carthage tool in my path. Why doesn't `xcodebuild` or `xctool` work? carthage isn't mentioned in the README as a dependency.

Even after installing `carthage` the build fails:
[code]

[2016-06-24 15:17] epezhman opened #179 "Problem with Electron auto update on OSX"
Hey, I'm trying to implement auto update on my  electron app, it's working fine on Windows but on OSX I get `Update Check Failed`. here is my code:

[code]

The  `feedURL` is like `http://188.166.160.83/update_server/updates/latest/osx?v=0.1.14` and the server response is `{"url":"https://s3.eu-central-1.amazonaws.com/demand-manager-resources/updates/latest/osx/TUM Demand Manager-0.1.15-mac.zip"}`

[2016-06-25 17:57] dknutsen commented on #151
Our hacky but seemingly effective solution to this is to (ASAP) check the `app.getPath('exe')` path to see if it's mounted in "/Volumes" and if it is, exit immediately. This at least prevents it from being run out of the DMG.

[2016-06-30 03:15] arcman77 commented on #179
I'm also having this problem. The update-release server is giving a 304 status in my case, but the error is the same. You're certain its not being cached somewhere?

[2016-06-30 11:56] epezhman commented on #179
@arcman77 If you get 304 status the error is expected then, the response needs to have 200 status with the Url inside,
What do you mean by being cached somewhere?

[2016-06-30 17:26] arcman77 commented on #179
I meant if the app is caching the response of the update server, causing to always get a 304. However I just confirmed that even when the server gives a response of 200, with the url included it still errors out, just as you have experienced. What version of electron are you using?

[2016-06-30 17:31] epezhman commented on #179
I'm using `electron v1.2.5 `and `OSX El Capitan` and `electron-builder v5.7.0`, anyway the only thing I can think of might be some problem with code signing, How do you sign your code?

[2016-07-08 18:53] gopikrishnaA commented on #158
did you guys figured out that .app file should present inside the zip file instead of dmg file

[2016-07-13 21:54] mzmousa opened #180 "Deletion of update files, autoUpdater"
Running electron version 1.2.5.

I'm using `nuts` to host my release files for my app. When I run autoUpdater.checkForUpdates(), any update files I have are downloaded and shipit uses them to install them for my app, but only when they're from the `stable` channel. When I download from a channel other than `stable`, the update files are deleted and I get the shipit error that says "unable to copy

[2016-07-13 23:21] joshaber commented on #180
It should just do that once it's been installed.

It shouldn't, but software's gonna be software 😂

[2016-07-14 03:59] mzmousa commented on #180
Haha, damn. So the .app and .zip shouldn't get deleted until the update is installed? Does shipit expect a certain configuration or name / signature on the downloaded files to before it deletes them? Just gotta figure out a way to debug this. 😁

[2016-07-14 06:30] joshaber commented on #180
It expects the updated to be signed with the same signature as the existing app.

Check `~/Library/Caches/your-bundle-name.ShipIt/` and `~/Library/Application Support/your-bundle-name.ShipIt/`. There should be logs saved there.

[2016-07-14 13:56] mzmousa commented on #180
I see. There weren't any logs saved in `~/Library/Caches/my-bundle-name.ShipIt/`, which is kind of concerning, but here is the log from the other one you mentioned.
[code]

[2016-07-14 14:09] mzmousa commented on #180
Alright! Turns out it doesn't matter which channel I update from, but the update files get deleted unless they're the latest one from the releases. This makes me wonder if I should have multiple release servers...

[2016-07-14 14:58] joshaber commented on #180
Was this working before Electron 1.2.5?

How do you know the files are downloaded but then deleted?

[2016-07-14 15:03] joshaber commented on #180
Here's another data point. We prune update directories (https://github.com/Squirrel/Squirrel.Mac/blob/e9e2188cda3efb4bc08b1719bdef71880f9dc9b1/Squirrel/SQRLUpdater.m#L516) every time we check for updates if we haven't already downloaded an update.

[2016-07-14 15:07] mzmousa commented on #180
Sorry. I meant Electron 1.2.3.

And I know it's primitive but I go to `~/Library/Application Support/mybundlename.ShipIt` and I have the files `ShipIt_stderr.log`, `ShipIt_stdout.log`, `ShipItState.plist`, and a new folder that gets created called `update.aBcDeFg` which downloads `osx_x64` and `Myapp.app`. If it's the latest version (regardless of channel name) I see the files stay and my app get

[2016-07-14 15:16] joshaber commented on #180
Yeah, that's legit.

If we've haven't don't have an update downloaded and are ready to relaunch and install, then when we check for updates again, we'll delete any already downloaded updates.

That sounds a little off. It should just be the zipped up app.

This makes it sound like some version discrepancy. I'm not familiar with `nuts`, but how would you update to the non-latest version? I'm having

[2016-07-14 15:27] mzmousa commented on #180
Sorry. It may be that only the zipped app is downloaded, but I am definitely seeing both the `.app` and zipped app in my `update.abcdefg` folder.

In `nuts`, it does a filter of the releases by the tag number and gets the latest version. However, I added an endpoint which filters also by the channel name as well, i.e., if I have two channels stable and alpha (these are simply specified by dash-suf

[2016-07-14 15:42] joshaber commented on #180
Ah, ok. I was thrown off by the mention of `osx_x64`.

You could give it a shot. Electron 1.2.5 did update Squirrel.

[2016-07-15 03:54] mzmousa commented on #180
Updated to the latest version of electron (1.2.7 as of this comment) with great success! Thank you. :heart:

[2016-07-15 03:54] #180 closed

[2016-07-19 09:11] Vj3k0 commented on #179
Updating will fail if your binaries are not signed. Make sure to read [electron-builder docs](https://github.com/electron-userland/electron-builder/wiki/Code-Signing). Also, updating will result in error if you are not running binary but development version (which is of course not signed).

If this doesn't help, not long ago I've had problem with updating on Mac and it turned out to be problem in

[2016-07-26 13:23] Mercieral commented on #179
Is this an issue if using a free self-signed Apple cert? If I receive a 204 from the server then the autoUpdater correctly shows that no update is available. However I am also getting 'update check failed' when there is an update available. I can confirm that I am receiving a valid URL, a 200 response status, and it is signing correctly (with my self-signed cert) as the autoUpdater starts without

[2016-08-01 13:47] addmitriev opened #181 "Temporary dir cannot be removed after update. OSX"
<details>
<summary>ShipIt_stderr.log</summary>
[code]
</details>

[2016-08-09 21:42] scottsb commented on #151
Chiming in here to mention a possible situation that causes this: our IT team has software that runs to automatically "correct" permissions and apply updates, and somewhere in that it mixed up the permissions for the Visual Studio Code.app (which uses Squirrel via Electron). In my case I had sufficient permissions to manually chown'ing the .app file back to myself.

[2016-09-08 19:13] scotttrinh commented on #161
Running into this error under similar conditions:

Electron-Builder: 6.3.5
Electron: 1.3.4

Both the application that is updating and the update are signed by the same certificate, and there doesn't seem to be anything wrong with folder permissions in `~/Library/Caches/{app}.ShipIt`. Confirmed that the zip contained an `app` not a `dmg` and that it was being served with `Content-Type: application/

[2016-09-08 20:21] scotttrinh commented on #161
I discovered my particular issue was related to serving my file from a root url. In other words, my test situation was set up to respond to `localhost:3001` with the contents of my file, but it seems like that didn't save it to a filename. I just changed it to `localhost:3001/file.zip` and it worked like a charm.

[2016-09-14 13:40] paul321 commented on #181
+1 same problem here

[2016-09-14 13:42] paul321 commented on #179
We have the same problem with last OSX update the app stopped updating we were using Electron 1.2.6 for months and after the OSX update Squirrel is not working

[2016-09-14 13:47] joshaber commented on #179
Unfortunately this is really hard to debug without having a reproducible case.

[2016-09-14 13:54] paul321 commented on #179
Here are some logs from Squirrel:

2016-07-29 21:27:15.069 ShipIt[1875:31758] Beginning installation
2016-07-29 21:27:15.678 ShipIt[1875:31759] Moved bundle from file:///Applications/Microstockr.app to file:///var/folders/vq/43p_cr8d4y3brgl2pzjvp9ch0000gp/T/com.electron.microstockr.ShipIt.Fn7s4W8f/Microstockr.app
2016-07-29 21:27:15.678 ShipIt[1875:31759] Moved bundle from file:///var/folders/vq/4

[2016-09-14 14:20] joshaber commented on #179
Unfortunately those logs don't give us much to go on. Without a reproducible example, I'm at a loss.

[2016-09-14 18:24] paul321 commented on #179
Here is the same issue with Atom editor:
https://github.com/atom/atom/issues/2860

[2016-09-14 18:27] joshaber commented on #179
That is being tracked in https://github.com/Squirrel/Squirrel.Mac/issues/157 and https://github.com/Squirrel/Squirrel.Mac/issues/131. If this is that issue, then let's close this.

[2016-09-14 18:30] paul321 commented on #179
The thing is this issue only happened after last OSX update so it was working about a month ago

[2016-09-23 09:34] paul321 commented on #181
It seems the problem is that we changed the codesign certificate that has other identity, the updater fails to install the new certificate :)

[2016-09-23 09:34] paul321 commented on #179
It seems the problem is that we changed the codesign certificate that has other identity, the updater fails to install the new certificate :)

[2016-09-29 17:36] joshaber opened #182 "Gatekeeper Path Randomization makes life hard"
1. Use macOS Sierra.
2. Download an app to `~/Downloads`.
3. Launch app.
4. Update found.
5. Prompted to auth update helper (??)
6. Update can't be installed.

This is because of Gatekeeper's path randomization, new in Sierra. Once you do something that deactivates path randomization (e.g., move the app), updates are fine.

This sucks. It's not terribly clear how we can deal with it. Try to detect

[2016-09-29 17:37] joshaber commented on #182
@keithduncan krona for your thoughts.

[2016-09-29 17:44] joshaber commented on #182
Some other discussions about this:

https://github.com/potionfactory/LetsMove/issues/56
http://www.openradar.me/radar?id=5022734169931776

[2016-09-29 18:57] joshaber commented on #182
I've confirmed that removing `com.apple.quarantine` from the app fixes this. So what if we did this:

1. Check for updates.
2. Notice the host app still has `com.apple.quarantine`.
3. Clear the bit.
4. Since the app was launched with `com.apple.quarantine`, we can't update it until it's relaunch, so don't check for updates.

It sucks that it means they won't get updates on the first run, but... th

[2016-10-06 01:13] joshaber commented on #182
Assuming #432 is misguided... I'm struggling to come up with any other ideas. We could try to detect when path randomization is being applied and just not check for updates?

[2016-10-06 07:44] rsaccon opened #184 "checking-for-update times out when receiving 204 response (with Content-Length header)"
with electron 1.4.2 and custom update server on Amazon Lambda / ApiGateway, I can successfully detect, download and install an update, but when no update is available, and the server returns a 204 status, then the request times out. Below the verbose output, if I do it with curl:

[code]

The problem might be that I get back a Content-Length header, which is not what one would expect, when receivi

[2016-10-06 09:06] keithduncan commented on #184
As there's no update is it causing issues for the request to time out?

We use the built in NSURLConnection class to issue HTTP requests, if the AWS API Gateway violates the HTTP specification there's not much we can do. Have you tried including a body in the 204 response? That might be another spec violation but it might be one that works :laughing:

[2016-10-06 09:50] rsaccon commented on #184
It is not causing any immediate issues, however I do not know whether it might have any negative impact on `startAutomaticChecksWithInterval`, but I actually do not know whether that is even used in electron and how it can be configured.

Ok, I will try to include a body

[2016-10-08 20:31] jamesopti commented on #160
@sergiovilar - Were you able to figure this out?

I'm running into the same issue.

[2016-10-09 23:27] zorgiepoo commented on #182
Just found this thread while googling for something else related. We documented the issue for Sparkle at: https://github.com/sparkle-project/Sparkle/issues/832 https://sparkle-project.org/documentation/

In short, we do nothing special, other than disabling updates if the app is running from a read-only mount, which needs to be handled anyway if the app is running inside a dmg.

Apple wants develo

[2016-10-10 18:47] joshaber commented on #182
Thanks @zorgiepoo!

I think you're right that this is the best path forward 👍

[2016-10-13 04:54] keithduncan commented on #6
XAR seems to be dead now womp womp but I still like the idea of verifying the authenticity and integrity of the updates before unpacking them #necro #thread

[2016-10-13 04:54] keithduncan commented on #55
ASL is dead

[2016-10-13 04:54] #55 closed

[2016-10-13 04:55] keithduncan commented on #58
This 🚢 has sailed

[2016-10-13 04:55] #58 closed

[2016-10-14 05:28] psequel opened #185 "com.mydomain.ShipIt respawn every 2 second, spamming user's system.log"
This is spamming user's system.log every 2 seconds.

[code]

### Steps to reproduce

1. Download an app with Squirrel as updater to ~/Downloads folder
2. Open the app from within Downloads folder
3. When it's time to update, the app will prompt the user to enter her password to "install a helper tool"
4. The user clicks "Cancel" because the prompt looks suspicious
5. Now the user's system.log gets

[2016-10-14 13:58] joshaber commented on #185
I'm betting this is #182.

[2016-10-17 00:34] #147 closed

[2016-10-17 22:30] fancyydk commented on #148
If you don't use a dmg, is there a different way to install the app? I'm running into this -60005 error and -60006 error as well which stand for errAuthorziationDenied and errAuthorizationCanceled, respectively. Any answers?

[2016-10-18 00:49] joshaber commented on #182
#186 addressed this as best as I know how for now.

[2016-10-18 00:49] #182 closed

[2016-10-18 17:54] #185 closed

[2016-10-18 23:45] fancyydk opened #187 "Update fails (OSStatus error -60005)"
We use Squirrel to update our Electron app and we've seen people running into the following errors during an update:

The operation couldn't be completed. (OSStatus error -60005.)
The operation couldn't be completed. (OSStatus error -60006.)

-60006 means [errAuthorizationCanceled](https://developer.apple.com/reference/security/errauthorizationcanceled) and happens when the user clicks cancel when

[2016-10-21 07:16] psequel opened #188 "Updater state transition is incorrect"
According to [one of the specs](/Squirrel/Squirrel.Mac/blob/f00ad7e91b19422c407359479fe5cbd752818b50/SquirrelTests/SQRLUpdaterSpec.m#L275), it "should transition through idle, checking, downloading and awaiting relaunch, when there is an update". However, the fact is:

- if the update is _not_ already downloaded, the transition is idle -> checking -> downloading -> _idle_

- if the update is alrea

[2016-10-22 00:27] joshaber commented on #188
@psequel Can you explain how to reproduce this? It'd be pretty surprising and looking at the code I'm not sure why that'd happen.

[2016-10-22 06:08] psequel commented on #188
Never mind. The release build actually works as expected. Interesting, only the debug build has the issue I described above. I'm not sure if the SQRLCodeSignatureError matters. I don't see this error in the release build.

Here is the logs from the debug build:

And here is the code (in Swift 3) to reproduce it:

[code]

[2016-10-23 03:20] joshaber commented on #188
Yes, the code signature of both builds much match for Squirrel to perform the update.

[2016-10-26 02:53] psequel commented on #188
But if you take a look at my logs, the second time when checking for updates, it doesn't download the updated bundle (because it's already downloaded) , and it doesn't show the signature error and it moves to SQRLUpdaterStateAwaitingRelaunch state. My question, why the first time when checking for update, the signature doesn't match but the second time is fine even if it doesn't download the updat

[2016-10-26 19:23] joshaber commented on #188
Oh, I didn't notice that! I'm not sure how to explain that without digging into it more.

[2016-10-27 07:27] andymartinwork commented on #187
We had a -60006 in one situation:

- Admin user installs app into /Applications/

- Standard user opens app and auto-update is attempted.

- Auto-update fails because the standard user doesn't have permission to overwrite the app in /Applications/

If the auto-update runs on the user's admin account, it will succeed.

[2016-10-28 21:58] fancyydk commented on #187
Thanks @andymartinwork. Yeah, the -60006 errors that I got are from the same scenario you described, as I explained in my first post. But it's the -60005 error I'm confused about. Have you run into it at all or know how to reproduce it?

[2016-10-31 22:36] fancyydk opened #189 ""The command is disabled and cannot be executed""
In our Electron app, this error message was logged a couple of times for users on Mac OS X 10.10.5, 10.11.6, and 10.12. It seems the users were able to download the update successfully, but then the app failed to update. It's hard to tell exactly what caused this issue just by looking at the logs and I have not been able to reproduce it myself, but a quick Google search returns results related to

[2016-11-01 00:39] joshaber commented on #189
Most likely this is caused by trying to install an update that has been aborted, which is most likely caused by an error earlier on.

[2016-11-02 22:28] fancyydk commented on #189
Thank you for the reply. We currently do not provide a way to abort an update that's already begun. So if an update was aborted, it's probably due to network issues or some other external factors outside of the app. Is the error message "The command is disabled and cannot be executed" coming from Squirrel.Mac? Is there any more information around this error or in what context it occurs so we can r

[2016-11-03 01:59] joshaber commented on #189
ReactiveCocoa is the one responsible for that specific message, but the command it's referencing is from Squirrel.Mac.

I'd hope there'd be more information in the user's logs, but I can't say for certain.

[2016-11-24 10:56] tarjei commented on #158
Any tips on how to debug this?

[2016-11-24 13:47] SantoDE opened #191 ""URL not Supported"?"
Hey there,

I'm having a weird issue with the auto updater for my electron based app. Everytime it tries to check for an update, I end up with an error "url not supported". My Feed Url itself seems to be fine. https://releases.cnx.de/update/darwin/0.3.3

My App is also signed with Developer ID certificates, so I'm a litte lost.

Did someone encounter this issue before?

[2016-12-02 16:33] timsutton opened #192 "System or bundle-specific default for disabling updates and helper tool installation"
Is there a way besides an environment variable to altogether disable Squirrel's attempt to install the ShipIt helper, for environments where applications get deployed to systems from a central management tool, and where regular users aren't admins or otherwise don't own the application app bundle?

For example, on macOS, I install Slack 2.3.2 (now out of date) to `/Applications` owned by `root:whe

[2016-12-03 11:49] bochoven commented on #192
+1  The update prompt is a confusing UX in our environment (2000+ Macs)

[2016-12-04 13:17] TonyValenti opened #193 "What should I use for a MAC .NET app?"
Hi Squirrel,
I'm building a .NET app that will run on Macs.  What package should I use for updating?  Is Squirrel.Windows for just windows or .NET in general?  Should I use Squirrel.Mac?

[2016-12-05 23:34] gerges commented on #64
@dannygreg I know it's been some time, but what sort of long-term plans were you thinking? I'm thinking about tackling this now, since it seems like a tempting way to have a easy high-scale update distribution mechanism (CloudFront + S3)

[2016-12-06 10:50] vegetableman commented on #164
@svileng Did this issue got resolved for you?

@joshaber Facing a similar issue on Postman https://github.com/postmanlabs/postman-app-support/issues/2489. After the update, the app does not restart. Here is a log from the file `ShipIt_stderr.log` with the issue:-

[code]

[2016-12-06 10:54] vegetableman commented on #164
It looks like a directory permission issue. And If it is, could the Squirrel framework handle it?

[2016-12-06 12:29] svileng commented on #164
@vegetableman Sorry, I'm not longer working on that project and I cannot check!

[2016-12-07 16:52] tommoor commented on #181
This is a long standing issue for us as well although it is random between releases and doesn't seem related to codesign certificates at all.

An example log:
[code]

[2016-12-09 22:38] bhajneet commented on #64
Can't we just format the jquery to say "No update" instead of relying on status codes?

Update:

[code]

No update:

[code]

[2016-12-13 19:21] joshaber commented on #193
This isn't really a question about Squirrel.Mac. I'm not sure what the appropriate update solution is for .NET apps.

[2016-12-13 19:21] #193 closed

[2016-12-13 22:25] smashism commented on #192
+1, especially confusing when the prompts are like every few hours, and there doesn't seem to actually be any updates available?

[2016-12-14 00:32] timsutton commented on #192
In my experience with Atom and Slack, it's always been that there _is_ a newer version available, but that even if I do authenticate to install the helper tool, somehow it still does not seem always to properly install the update. Haven't tested this systematically enough to know if it's related to the ownerships being something like root:wheel or some other user which is not the user being prompt

[2016-12-15 09:56] iggyZiggy commented on #158
had same issue, build that was on git release was not signed, uploaded a new signed version on git, decreased my package version and it worked on next run

[2016-12-18 05:13] wangxiexe opened #194 "life cycle event like "--squirrel-install" are not issued"
I am using electron-builder to create app which has  Squirrel.Mac support

the build output is dmg and I can install the app by drag it into application folder

but I noticed the life cycle events (which works fine on windows) like "--squirrel-install"  "--squirrel-updated" are not issued, and I can not add handler

is it by design or if there is some other way on mac I can do to listen for life c

[2016-12-18 21:07] joshaber commented on #194
Those lifecycle events are Squirrel.Windows-specific. You can recreate them by storing some state and noting it (or in the case of install, the lack thereof).

[2016-12-18 21:07] #194 closed

[2016-12-19 03:15] wangxiexe commented on #194
thanks @joshaber , what I want to do is clear the data when the app is moved into trash. do you have any best practice for such case  with Squirrel.Mac ?  thanks.

[2016-12-19 21:15] joshaber commented on #194
Unfortunately macOS doesn't provide any hooks for application deletion.

[2017-01-03 02:38] sunuslee opened #196 "SMJobSubmit will fail on some osx"
SMJobSubmit will fail on some osx(tested in 10.11).
when this happened, the job will be shown in the launchctl list
but will never be executed (ShipIt not running) and the process
will be terminated by later [NSApp terminate:self] as expected.

i've create pull request https://github.com/Squirrel/Squirrel.Mac/pull/195

[2017-01-09 01:17] hhff commented on #131
Everyone - thankyou so much for the hard work on Squirrel - it's been effortless to setup and I love the simplicity of it.

This issue is a big snag for us - we're shipping a cross platform electron app that mostly runs invisibly as a daemon, and unfortunately isn't a fit for the MAS.  Given it's invisibility, autoupdates seemed like a no-brainer - but this is a hard stop for us.

I've scoured the

[2017-01-09 08:29] jspahrsummers commented on #131
@hhff Thanks for the very nice comment! Unfortunately, neither @keithduncan nor I really actively work on this anymore (and we don't really have the time to do so).

@paulcbetts has suggested that this is because a root-privileged app will write a `root` owned `ShipIt` folder (where Squirrel saves its downloaded updates). It's unclear to me why privilege escalation of the installer process doesn't

[2017-01-09 22:26] hhff commented on #131
Gotcha - thanks @jspahrsummers !

Where in the codebase would you recommend starting out?

[2017-01-10 00:33] paulcbetts commented on #131
@hhff I'd try to track down the place where you see `Installation error: Error Domain=NSPOSIXErrorDomain Code=13 "Permission denied" UserInfo={NSLocalizedDescription=Permission denied}`

[2017-01-10 00:50] hhff commented on #131
Thanks @paulcbetts - I'm operating in an Electron environment - any tips for tracking that down in Node world?

[2017-01-10 00:57] paulcbetts commented on #131
@hhff oof, good question. Do you have the entire log?

[2017-01-10 01:08] hhff commented on #131
@paulcbetts yup - for me it's in `Application Support/Caches/org.develar.ElectronReact.ShipIt/ShipIt_stderr.log`

That folder:

![image](https://cloud.githubusercontent.com/assets/2865404/21789978/2caf25b6-d6a7-11e6-87d9-73e42a6a6c7c.png)

That `/update` folder is empty, fwiw.

[code]

[2017-01-10 01:14] hhff commented on #131
I'm also noticing that `/update.123abc` folder does actually receive the update during the update process - it's present during during the `Beginning installation` phase

[2017-01-10 09:38] YNedderhoff commented on #192
+1 Experiencing the same, also with Atom and Slack.

[2017-01-10 12:45] jspahrsummers commented on #131
Looks like these would be the places to adjust permissions for writing:

* [`-[SQRLDirectoryManager storageURL]`](https://github.com/Squirrel/Squirrel.Mac/blob/bde5ff2983e91e7310c4139223ed04870e14a5b1/Squirrel/SQRLDirectoryManager.m#L60) creates the temporary directory for the downloaded update
* [`-[SQRLZipArchiver unzipArchiveAtURL:intoDirectoryAtURL:]`](https://github.com/Squirrel/Squirrel.Mac/

[2017-01-11 05:43] paulcbetts commented on #131
How would ShipIt receive permissions issues if it's explicitly running as root 🤔

[2017-01-11 17:22] hhff commented on #131
Thanks @jspahrsummers & @paulcbetts  !

It appears the issue on my end is not "writing to ShipIt logs / cache directories" (the Update is downloaded and stored in the correct place no problem) but, (I suspect) the issue stems from actually "applying" the newly downloaded package to the existing app.

This may be a red herring, but as an experiment, I did `chown root:wheel /Applications/My App.app`

[2017-01-17 04:31] #6 closed

[2017-01-19 02:35] arubdesu commented on #192
+1, I have over 4 thousand machines, this is undesirable behavior. I could understand if it was due to someone adding themselves to a beta track while I'm trying to maintain the stable versions, but that's not what is being experienced. Please consider working with Slack to have them respect this configuration option

[2017-01-19 02:44] innermotion commented on #192
+1 , it's certainly odd and annoying.

[2017-01-19 02:53] fakepaulbetts commented on #192
fwiw, Slack will be fixing this via chown'ing itself in the next version

On Wed, Jan 18, 2017, 18:44 innermotion <notifications@github.com> wrote:

[2017-01-19 03:10] gregneagle commented on #192
The fix that is being asked for is a way to disable the Squirrel updater without relying on environment variables. An on-disk preference would be ideal.

[2017-01-19 03:15] fakepaulbetts commented on #192
I would be extremely :-1: on that change, this is up to individual app
developers, not as a systemwide "please disable this library" setting

On Wed, Jan 18, 2017, 19:10 Greg Neagle <notifications@github.com> wrote:

[2017-01-19 03:17] gregneagle commented on #192
A per-app control would be fine, too. Right now you can disable the library for all apps using environment variables, so it's not really something being taken away from app developers.

[2017-01-19 03:18] fakepaulbetts commented on #192
Lol also /cc @paulcbetts, this is what I get for replying to GH issues via
mail

On Wed, Jan 18, 2017, 19:14 Paul Betts <paul@paulbetts.org> wrote:

[2017-01-19 20:10] timsutton commented on #192
Consider the situation with Mac apps that use Sparkle, where there's a consistently-available method for disabling the update-checking mechanism (setting `SUEnableAutomaticChecks` and friends using either `defaults`, a configuration profile, or some other method to set a standard Mac preference).

If it were built into the framework, then something similar would be possible, no application maintai

[2017-01-24 19:01] nealdav commented on #192
+1 The update prompt is confusing and, worse, looks like broken software (~3600 Macs). Please look into Greg and Tim's suggestions above.

[2017-01-26 16:51] joshaber commented on #192
I'm happy to review any pull requests to this effect 😄

[2017-01-27 07:25] Skywalker13 opened #198 "Bootstrap an .app with Squirrel.Mac just with an URL on a Squirrel server"
Hello,

I would like to use Squirrel.Mac in order to install a `.app` which is not already installed. I can do that with **Squirrel.Windows** because `Update.exe` is provided as a standalone application and doing `Update.exe --update=http://my.repository` will download the last version and install this version where `Update.exe` is located. It's very useful for bootstrapping an app on the client.

[2017-01-27 13:53] joshaber commented on #198
No, Squirrel.Mac doesn't provide anything like that.

Mac apps generally shouldn't require installation. Users should be able to drop them wherever they want and they should work.

[2017-01-27 14:21] timsutton commented on #192
Thanks! What approach would make sense to you for the Mac? For example, supporting a preference like `SQRLEnableAutomaticChecks` which could be set to false?

[2017-01-27 14:24] joshaber commented on #192
Yup, I think mirroring Sparkle would make sense.

[2017-01-27 14:33] Skywalker13 commented on #198
Yep that's the problem.. the user can not do that because our electron app is used like a service. This "service" is installed by the main application according to some conditions. Then it downloads the service if the conditions are met. It works perfectly with Squirrel.Windows for this purpose.

So, I will write my own "UpdateMac" tool in order to mimic the needed Update.exe stuff.

[2017-01-27 14:36] #198 closed

[2017-01-28 00:24] paulcbetts commented on #192
@joshaber Please don't add this feature, I've already had to nerf that environment variable in the Slack app

[2017-01-28 00:52] gregneagle commented on #192
And the lack of the feature is a nightmare for internal support staff for any app that uses Squirrel. Our users often do not have admin rights and this dialog -- which they can do nothing about themselves -- leads to help desk calls. We have ways of updating the software we manage for our users -- we don't need the apps own auto-updater. We'd like a supported way to disable it.

[2017-01-28 15:43] nmcspadden commented on #192
+1 here as well. Enterprise organizations generally have their own mechanisms for deploying software updates. Updating our software on our own schedule tends to be of critical importance during high stakes projects, and having a user experience like this is a major downer.

As others pointed out, not being able to suppress updates from an enterprise perspective leads to significant extra churn for

[2017-01-28 15:45] foigus commented on #192
The goal isn't to disable every Squirrel updater with a single setting.  The goal is a common, supported change to disable Squirrel updates per-application.

The closest analog I can think of is Sparkle's `SUEnableAutomaticChecks`, which is a consistent setting across [many](https://github.com/gregneagle/profiles/search?utf8=✓&q=suenableautomaticchecks) applications that allows per-application dis

[2017-01-28 16:03] timsutton commented on #192
To address @paulcbetts's concern about it causing support burden, I think that the only environments where people _would_ intentionally set such a "disable update checks" preference would be the environments where the Squirrel updates wouldn't work anyway, like where 1) users aren't admins anyway, and this can do nothing about repeated prompts to install a helper tool, or 2) management tools are a

[2017-02-02 03:47] joshaber commented on #189
Closing since it doesn't sound like a Squirrel.Mac problem.

[2017-02-02 03:47] #189 closed

[2017-02-02 03:49] joshaber commented on #191
I don't see that error message in Squirrel.Mac.

[2017-02-02 03:49] #191 closed

[2017-02-02 03:52] joshaber commented on #184
Closing until we know if Squirrel.Mac was at fault.

[2017-02-02 03:52] #184 closed

[2017-02-06 14:45] joaomoreno opened #199 "Squirrel tries to escalate privileges even when user owns the parent directory"
- Coming from Microsoft/vscode#7426
- Same as atom/atom#2860, electron/electron#6345

Very similar to #131, all the symptoms are the same... but there's a different twist.

With a VSCode build, in a fresh new macOS 10.12.3:

- If the application bundle is in `~/Desktop` or `~/Downloads`, I get exactly the same behaviour as #131: there's a Helper dialog coming up asking for credentials, and the upd

[2017-02-06 15:55] joaomoreno commented on #199
I now see what the difference is: when launching from `~/Desktop` or `~/Downloads`, `htop` says the process running is:

[code]

Here are the permissions:

[code]

The parent folder is not writable by me! This would make [this code](https://github.com/Squirrel/Squirrel.Mac/blob/master/Squirrel/SQRLUpdater.m#L255) try to update with priviledges.

[2017-02-06 15:56] joshaber commented on #199
Yup, this is https://github.com/Squirrel/Squirrel.Mac/issues/182. I would have thought https://github.com/Squirrel/Squirrel.Mac/pull/186 would surface a more user-friendly error.

[2017-02-06 16:14] joaomoreno commented on #199
Absolutely, closing as dupe of #182, thanks @joshaber

[2017-02-06 16:14] #199 closed

[2017-02-13 17:55] romaincointepas commented on #64
It's also worth noting that Cloudflare does not allow caching of 204 responses (even with all the rules set to caching), meaning this issue also concerns standard non-static distribution model with Cloudflare on top.

[2017-02-16 09:36] andrewvalentine commented on #192
+1 here. I'm in agreement with most of the sentiments expressed above. A `SQRLEnableAutomaticChecks` preference would be ideal.

[2017-03-08 12:13] tborychowski opened #200 "Download progress"
Is it possible to get a download progress event of some sort?
I'm using `electron-builder` auto updater, which is using `Squirrel.Mac` under the hood, and I cannot get the download progress, because apparently Squirrel does not provide it.

[2017-03-08 12:16] develar commented on #200
Some clarification: electron-updater wraps official bundled auto-updater on macOS to get rid of special server requirements. Alongside other features.

[2017-03-10 15:46] timsutton commented on #192
I see now that in Slack 2.5.1 this disable env var has, as @paulcbetts, been squelched by the app:

`➜  ~ cat /Applications/Slack.app/Contents/Resources/app.asar | grep --text -C 6 DISABLE_UPDATE_CHECK`

[code]

Within _30 minutes_ of 2.5.1's release generally, two Mac sysadmins in the Macadmins Slack team each reported help desk tickets about Slack prompting them for admin rights. One supports Ma

[2017-03-13 16:07] fancyydk commented on #151
I have a 100% repro of this. You don't need to modify permission, as most users wouldn't, I assume. Here's the scenario:

1. A user with admin access installs an Electron app.
2. Then a standard user (with no admin access) will see the app in his Applications folder.
3. The standard user launches the app and performs an update, at which point he will see the admin prompt @emorikawa posted above.
4

[2017-03-13 16:38] btelintelo commented on #151
Only workaround is to distribute as a .app file instead of dmg.  Other than that you might have to become a contributor?  This is a major bug and has been around for 1.5 years.

[2017-03-13 16:43] fancyydk commented on #151
@btelintelo - thanks for the suggestion. Even if an .app file is given instead of dmg, if the admin user installs it in /Applications, then other standard users will still run into the same issue I think. I wish I knew enough objective-c and Cocoa :P

[2017-03-13 16:59] fancyydk commented on #131
Thanks for all the work on Squirrel. I, too, am running into this issue and was wondering if there's a solution or workaround.

BTW, what @hhff is seeing after changing the owner of My App.app is being tracked here #151

[2017-03-13 17:05] fancyydk commented on #157
Can confirm this. If a standard user who knows the admin password installs an Electron app in /Applications (will be prompted to enter the admin credentials), then any subsequent updates will run without asking for the admin credentials again, then fail with the errors OP posted. Any solution or workaround?

[2017-03-14 14:04] George35mk commented on #173
you have solved??

i have the code inside main,js but i want to allow the user if want to update or not??

[2017-03-15 19:28] RobertHammen commented on #192
Just chiming in here, had 6 tickets in an hour this morning once Slack 2.5.2 was released, because the app prompts for admin credentials and our users are not admins.

IT admins _really_ need a method to disable the automatic update. This doesn't mean that we won't update the apps - far from it - but we want to update them seamlessly and on our terms, not Slack's.

[2017-03-15 19:41] macmule commented on #192
Just chiming in that we've had our customers (whom are paying for Slack too).. complaining about the admin prompts.

We had to respond immediately to update a few hundred Macs across a few companies,  not good.

[2017-03-15 19:43] gregneagle commented on #192
Sounds like we need to start engaging Slack as paying customers instead of trying to influence the development of this project

[2017-03-15 19:47] RobertHammen commented on #192
@gregneagle Just opening a support ticket right now, since my employer IS a paying customer.

[2017-03-15 20:03] foigus commented on #192
I also just submitted a support ticket for our paid Slack instance.

[2017-03-15 23:46] erikng commented on #192
Company with about 2,000 macs as well.

[2017-03-16 00:30] paulcbetts commented on #192
So, for the folx on this thread who are IT admins specifically wondering about Slack, here's the information on how this works now:

1. If Slack.app is able to be updated directly (i.e. the permissions allow us to write to the app), we just do the update, no dialog shown. This can be done *even when the user is not an Admin user* - Slack.app just needs to have the correct permissions
1. If Slack _

[2017-03-16 00:49] erikng commented on #192
What are the expected permissions?
________________________________
From: Paul Betts <notifications@github.com>
Sent: Wednesday, March 15, 2017 5:30:19 PM
To: Squirrel/Squirrel.Mac
Cc: Erik Gomez; Comment
Subject: Re: [Squirrel/Squirrel.Mac] System or bundle-specific default for disabling updates and helper tool installation (#192)

So, for the folx on this thread who are IT admins specifically wo

[2017-03-16 00:53] paulcbetts commented on #192
@erikng When we repair the app, we use the same user/group as the current user's $HOME - here's the code that does that, from the same file:

[code]

[2017-03-16 00:54] timsutton commented on #192
"Correct" permissions as you describe here still seem to always imply a single user on the system.

While it's commonplace for IT to run a script as part of an app installation, what should the ownership be if there are multiple users on the system, or the "primary user" has recently changed to a different login with a new UID?

Making the app world-writable isn't a solution either as that adds a

[2017-03-16 00:54] paulcbetts commented on #192
Create a new group (or use the `staff` group)

[2017-03-16 01:12] timsutton commented on #192
Yes, one can manage groups, and make it so any user (like a member of `staff`) can write to the bundle - which is effectively the same as making it mode `777` and subject to the same security concerns - since typically any other user on a Mac would also be a member of the same group. For example, Active Directory logins or different local users.

But I think the functional disconnect here is still

[2017-03-16 02:10] erikng commented on #192
To go back to the "problem" Slack faces about users not updating - how do they deal with this on the Mac App Store?

They can't force the user to update and they can't silently update the user either.
________________________________
From: Timothy Sutton <notifications@github.com>
Sent: Wednesday, March 15, 2017 6:12:34 PM
To: Squirrel/Squirrel.Mac
Cc: Erik Gomez; Mention
Subject: Re: [Squirrel/Sq

[2017-03-16 02:26] paulcbetts commented on #192
The Mac App Store can cheat and run code as local system, so they can update apps while still setting their permissions as root. Or do you mean, users who intentionally nerf App Store updates?

[2017-03-16 02:31] erikng commented on #192
People who intentionally block/disable updates or simply choose to not install them.

I could strip the MASReceipt on Slack.app and Slack would never be able to update again as it no longer contains the purchase information and associated AppleID.

________________________________
From: Paul Betts <notifications@github.com>
Sent: Wednesday, March 15, 2017 7:26:25 PM
To: Squirrel/Squirrel.Mac
Cc: E

[2017-03-16 02:54] paulcbetts commented on #192
@erikng That's definitely still a problem we're dealing with on all platforms (as well as the far more common case of, "Update just Didn't Work for one reason or another, user is stuck"), we've got some ideas on what to do in these cases that we'll be rolling out soon

[2017-03-16 10:12] bochoven commented on #192
@paulcbetts Please consider the remarks of @timsutton: we consider it a severe security issue to open the permissions for apps on multi user systems. User A can modify the app so that when user B opens it, it will do Bad Things® to his account/files.

Please supply system administrators with a supported way to manage the updates in a controlled way.

[2017-03-16 13:46] timsutton commented on #192
@paulcbetts To your point about ongoing issues getting your updates out to users, I think you'd find that everyone participating in this (now completely hijacked) thread would be very proactive about deploying updates to the app quite promptly, and using tools that are already very capable of automatically installing the updates when the app is detected as not-currently-in-use.

Most people in thi

[2017-03-16 17:30] paulcbetts commented on #192
I think the best solution in this scenario is to install Slack to `~/Applications` for every user, and to set the permissions to 700 - this makes sure that users can't mess with each other, and it also ensures updates work, without having admin access.

[2017-03-28 21:27] ygini commented on #192
+1 with all other Mac admins of course. For all the best reasons in the world (Security, UX, Manageability) we need to disable at scale the auto update feature. Especially regarding how broken is it.

Also, @paulcbetts, excuse what I will say in since I'm french and some nuance might be lost in translation, but you should run background check on all people who just contributed to this thread. Thos

[2017-03-29 00:06] paulcbetts commented on #192
@ygini You know, everyone says that's a bad idea, but nobody can say why 🤔

[2017-03-29 03:08] nmcspadden commented on #192
@paulcbetts Let's look at this proposal logically.  You are saying that the best way to manage Slack in every environment is to put into the user's Applications folder, owned by the user, purely in user space.

Let's look at all the scenarios we might have to install software.

**1. A user is logged in, and intentionally chooses to install Slack**
This is an easy one. A user chooses to install Sla

[2017-03-29 05:24] ygini commented on #192
@paulcbetts the fact you dont accept others arguments as valid doesn't mean no one has been able to tell why.

Here is a simple summary of what has already been said.

**System compliance**

/Applications is made by Apple to be managed only by admins. Tricking the system to change the owner of your app make you a bad citizen who break Apple Guidelines.

**User experience**

/Applications is made b

[2017-03-29 08:56] vojtatranta opened #201 "Can't update application which is located outside of Applications folder"
I have very strange problem

If I run app from outside of Applications folder auto update fails right after check for update is called
[code]

But if I move the app to Applications folder everything works.

Not only that, if I run the app directly from binary via command line the update works OK.

Has anyone encountered something similar?

[2017-03-29 10:41] igor-lemon commented on #200
+1

[2017-04-09 00:44] xiamike commented on #200
+1

[2017-04-19 14:58] thegnuu commented on #200
+1

[2017-04-24 07:32] biroplane commented on #200
+1

[2017-05-10 15:13] devtobo opened #203 "Non-admin /Applications status"
Anyone can give a status update on the problem of Squirrel.mac not asking for admin credentials when updating an app installed in /Applications using an non-admin account?

[2017-05-10 15:19] joshaber commented on #203
Hi! That issue's being tracked in https://github.com/Squirrel/Squirrel.Mac/issues/157. Any status changes will be put there.

[2017-05-10 15:19] #203 closed

[2017-05-10 16:12] devtobo commented on #192
@paulcbetts Hi,

Is [this code](https://github.com/Squirrel/Squirrel.Mac/issues/192#issuecomment-286925525) fixing the following scenario: A non-admin user installed my electron application in /Applications, when trying to update it:
1. no admin credentials is prompted
2. the squirrel.mac download the update
3. quit and relaunch the application
4. looping this process forever

[2017-05-22 19:43] jessica-pixvana commented on #200
+1

[2017-05-30 12:09] vanekj commented on #200
+1

[2017-05-30 12:18] develar commented on #200
1. Please use reactions.
2. electron-builder auto-updater supports progress events — it will be released in 2 weeks. Stay tuned :)

[2017-06-05 09:24] biroplane commented on #200
will you share with the rest of us the implementation, please? :)

[2017-06-05 15:16] jhabdas commented on #200
https://github.com/atom/atom/issues/9164

[2017-06-05 15:19] jhabdas commented on #200
For the +1 out there, here's the reason why @develar made his comment so you have some context: https://github.com/dear-github/dear-github

[2017-06-05 17:39] develar commented on #200
@biroplane https://github.com/electron-userland/electron-builder/issues/1167#issuecomment-306252864

[2017-06-05 18:32] develar commented on #200
If you for some reasons don't use electron-builder — electron-updater can be used standalone, but you will need to generate sha512 field in the update info file. This requirement can be relaxed. Feed url in the electron-updater it is url to dir, where channel update info file is expected (`latest` channel by default). e.g. feed url `https://example.com` -> `https://example.com/latest-mac.yml` file

[2017-06-08 18:20] Andrew1431 opened #204 "Auto update in Electron app works, but is not relaunching application."
Hey there! I've got an electron app that is successfully checking for and installing updates.

Within `ShipIt_stderr.log` for my application, this is my error message.
[code]

A quick google of "OSStatus -10814" brought me this error.
[code]

Let me know what additional information you would need for this.

[2017-06-09 03:18] zjfjiayou commented on #200
+·

[2017-06-09 03:18] zjfjiayou commented on #200
+1

[2017-06-09 03:32] zjfjiayou commented on #200
Thank you @develar, I find this problem for a long time, thank you have to fix the problem。https://github.com/electron-userland/electron-builder/tree/master/packages/electron-updater

[2017-06-26 09:56] DxCx opened #205 "Squirrel.Mac will terminate the App without triggering ShipIt"
Hey,

I'm using Squirrel.Mac as part of electron-updater.
i have a wired situation that when i start the application from the console calling the executable directely (Ex: /Application/AppName.app/Contents/MacOs/AppName) the update mechanizem is working correctly.
however, if i start it from launcher (Ex: open -a 'AppName'), it will just terminate the app without installing the update or continue

[2017-06-26 21:33] alvesl commented on #151
I still see this today. Any updates? Any tips? What is the best way to distribute then? This is pretty critical flow, I can see a lot of people opening the app even if by mistake.

[2017-07-19 15:51] dsagal opened #209 "AutoUpdate Error code = 13 Permission Denied"
Copied from https://github.com/electron/electron/issues/9752

---
Hi, currently I am having problem with the autoupdate in electron application. Here is the case.

    The application is able to check for update and successfully downloaded the update
    The application quits and re-launch however the version is not updated
    I checkout into the ShipIt_stderr.log and here is what I got

2017-06-

[2017-07-19 15:57] joshaber commented on #209
That looks like a duplicate of https://github.com/Squirrel/Squirrel.Mac/issues/157 or https://github.com/Squirrel/Squirrel.Mac/issues/131.

There's currently a PR open to hopefully fix it: https://github.com/Squirrel/Squirrel.Mac/pull/207

[2017-07-19 16:05] dsagal commented on #209
It's a different issue. I am an Admin user, and running the application that lives on my desktop. All files in the application being run and the bundle that gets downloaded and unpacked are owned by me.

It's great if the PR fixes it too, but it's not a duplicate of either #157 or #131.

Is there a version of Electron built with the PR that I could test?

[2017-07-19 16:08] joshaber commented on #209
Hrm, I'm not sure where a permission problem would come from then.

Unfortunately no. You could make your own but there's not build provided yet.

[2017-07-19 21:21] dsagal commented on #209
I am guessing it is this line in `Squirrel/SQRLInstaller.m`:
[code]
with the issue being that some files in the zip archive are read-only, and this call fails with errno 13 (Permission Denied).

@joshaber: does this sound like a plausible theory?

[2017-07-19 21:24] joshaber commented on #209
Ah, interesting. That's a good theory!

[2017-07-19 21:43] dsagal commented on #209
Making all files user-writable (in the bundle containing the new version) fixes the issue! I think it makes more sense for files to be read-only, but it's an acceptable workaround.

What I do think is necessary in order to close the issue is to report to the log which path and operation are causing the error. It took me hours to find the cause.

[2017-07-20 13:00] joshaber commented on #209
Agreed! Opened https://github.com/Squirrel/Squirrel.Mac/pull/210 to address this.

[2017-07-20 13:12] joshaber commented on #178
Closing as stale.

[2017-07-20 13:12] #178 closed

[2017-07-20 13:22] joshaber commented on #179
That sounds like how Squirrel is intended to be used. We validate updates by checking the new update with the signature for the existing app. This is to guard against man-in-the-middle or other impersonation attacks.

[2017-07-20 13:22] #179 closed

[2017-07-20 13:46] #131 closed

[2017-07-20 13:46] #157 closed

[2017-07-20 13:47] #209 closed

[2017-07-20 13:50] dsagal commented on #209
Thank you!!!

[2017-07-20 13:52] joshaber commented on #209
Thanks for all your help in debugging!

[2017-07-26 19:09] repertor commented on #182
I am directed to this issue when I try to update Atom. I am **not** running Atom from a read-only location, nor is it in my Downloads folder. It is in a subfolder of my Dropbox, located in my user directory. And yet, I receive the error message that follows:

[2017-07-26 20:20] himynameisjonas commented on #182
@repertor I had the same issue and also not running from a read-only volume but i just did what the first post here said:

I moved it out of my applications folder and back again and the updater worked fine. (I guess I moved the Atom.app into the applications folder with Alfred.app instead of just moving it in Finder)

[2017-07-26 20:41] repertor commented on #182
Thanks, @himynameisjonas. I had unzipped Atom directly into the directory from the download, so moving it in and out solved the problem.

[2017-08-18 08:40] jiri-nohavec opened #212 "Squirrel.framework 0.3.1 contains ShipIt binary 0.3.0"
**How to reproduce:**
* download and extract latest Squirrel.framework 0.3.1 from https://github.com/Squirrel/Squirrel.Mac/releases/tag/0.3.1
* run in terminal:
  ./Squirrel.framework/Resources/ShipIt

**Expected output:**
(according to https://github.com/Squirrel/Squirrel.Mac/blob/5396dcd1f94bfa66eebd091d331427654918ed4d/Squirrel/ShipIt-main.m#L149 or https://github.com/Squirrel/Squirrel.Mac/arch

[2017-08-18 08:41] jiri-nohavec commented on #212
@joshaber

[2017-08-18 12:05] joshaber commented on #212
Wow, I'm not sure how that happened. Great catch @jiri-nohavec!

[2017-08-18 12:21] joshaber commented on #212
[0.3.2](https://github.com/Squirrel/Squirrel.Mac/releases/tag/0.3.2) created and an PR to update Electron [opened](https://github.com/electron/electron/pull/10298).

Thanks again @jiri-nohavec!

[2017-08-18 12:21] #212 closed

[2017-08-25 17:30] SudhindraKovalam opened #213 "Keep seeing this error"
2017-08-25 10:15:10.810 code[27400:5221619] *** Assertion failure in +[SQRLDirectoryManager currentApplicationManager], /Users/joshaber/Documents/Development/GitHub/Squirrel.Mac/Squirrel/SQRLDirectoryManager.m:30
Illegal instruction: 4

Application User: Microsoft VS Code Mac Stable

[2017-08-28 18:33] shaunc commented on #182
@himynameisjonas @repertor -- I tried
[code]
but it had no effect. Is there some trick about how you move?

[2017-08-28 18:57] himynameisjonas commented on #182
I just dragged it to the desktop and back in the Finder.

--
Jonas Brusman

On 28 aug. 2017 20:33 +0200, Shaun Cutts <notifications@github.com>, wrote:

[2017-08-28 22:33] working-name commented on #151
Same here, I'm trying to get rid of ShipIt altogether, it's insane. On 10.12.6, running 1.19.3. I can't find where what keeps launching ShipIt, it's not called \*shpit*, nor \*squirrel*, I have no idea how to find this thing! Nothing jumps at me in terms of launchctl, there's no LaunchAgents, no LaunchDaemons, this is some ghostbusters stuff.

[2017-08-28 22:40] working-name opened #214 "Could not read update request"
`Domain=NSCocoaErrorDomain Code=260 "The file “ShipItState.plist” couldn’t be opened because there is no such file." UserInfo={NSFilePath=/var/root/Library/Caches/com.github.atom.ShipIt/ShipItState.plist, NSUnderlyingError=0x7f885cf13490 {Error Domain=NSPOSIXErrorDomain Code=2 "No such file or directory"}}}}
2017-08-28 18:38:22.773 ShipIt[20079:22272565] ShipIt quitting`

^ how does one go about f

[2017-08-28 22:46] #214 closed

[2017-08-31 14:56] joshaber commented on #182
@shaunc You may need to move it using the Finder for it to work.

[2017-08-31 16:34] joshaber commented on #213
Really odd, it looks like it can't determine the application ID. Anything odd about your computer setup or where you have VS Code installed?

[2017-09-26 22:21] fantasticsid commented on #204
I've seen similar issue in our Electron app - When I call quitAndInstall, the app quits but does not relaunch. After some examination I found that the ShipIt process in Activity Monitor. If I kill that process, the update goes through. So I'm wondering if there's some kind of deadlock going on.

I did a sample of stack trace of the ShipIt process when it happened again, and here's the stack trace:

[2017-10-01 20:57] coreybutler commented on #151
I'm running into a similar/related issue, with one difference being I have a pkg installer that dumps the `.app` file to `/Applications`. The error I see is:

[code]

The main point of interest is in the first message, where it chokes on `/var/root/Library/Caches/....`, which truly _does not exist_. The file _actually exists_ at `~/Library/Caches/....`.

FWIW, I'm building on High Sierra.

[2017-10-02 00:47] btelintelo commented on #151
Major bug, project doesn't have any maintainers.

[2017-10-05 23:10] joshaber commented on #151
@coreybutler That sounds like https://github.com/Squirrel/Squirrel.Mac/issues/131 which was fixed in https://github.com/Squirrel/Squirrel.Mac/pull/207.

[2017-10-06 00:14] coreybutler commented on #151
Thanks @joshaber - Did #207 just land in Electron? I had this issue in 1.7.6. I can't recreate the issue in 1.7.8.

[2017-10-06 14:39] joshaber commented on #151
Yes, it’s in Electron though I’m not sure which versions include the fix.

[2017-10-12 05:56] vadi2 opened #216 "Can I integrate this with my C++ application?"
Can I use Squirrel.Mac with a C++ app instead of Objective C?

[2017-10-12 11:12] joshaber commented on #216
I imagine it's possible 😄 You'd probably need to write a small Objective-C++ wrapper.

[2017-10-12 11:12] #216 closed

[2017-10-13 22:02] etyp commented on #151
@coreybutler It's still happening to me in 1.7.6 --- did you clear out any specific directories before getting it to work?

I've cleared the following:
[code]

And when I rebuild using electron-builder and `"electronVersion": "1.7.6"`, then install the .pkg file as an admin user from my Downloads folder, I still get:

[code]

Anything I might be missing in clearing out old directories?

[2017-10-13 23:07] coreybutler commented on #151
@etyp - I removed the caches the same way you did, but that was the only cleanup effort I attempted between testing Electron 1.7.6 and 1.7.8. However; a major difference in my environment... I'm not using electron-builder. I don't know if there is anything in electron-builder that could be causing this, and I didn't check since my initial issue manifested via squirrel.mac.

If it's any help, my bu

[2017-10-14 00:34] etyp commented on #151
@coreybutler thanks - followed your process all the way through (except I wasn't sure exactly what to do with step #2, so if that's critical here please let me know specifics around what needs to be changed).

Unfortunately, I was still prompted to install the helper with admin info and got the same issue once the helper was installed:

[code]

Confirmed that I'm definitely on Electron 1.7.8 - not

[2017-10-14 01:59] coreybutler commented on #151
@etyp - I don't _think_ step 2 is critical, because that issue has been a part of Electron for a long time. However; if you want to try it, my code is basically a two-liner for that step:

[code]

`exec` is an alias of child_process.execSync and `appPath` is the absolute path of the `.app` archive generated by electron-packager.

I honestly don't think this will change your results, but I'm out of

[2017-10-16 06:18] vadi2 commented on #216
How exactly? I'm not experienced with Objective-C++.

[2017-10-16 11:15] joshaber commented on #151
It looks like the fix was released in Electron 1.7.9: https://github.com/electron/electron/releases/tag/v1.7.9

[2017-10-16 17:46] etyp commented on #151
@joshaber hmm, yeah looks like it includes the bump to v1.2.1 PR from electron/electron#10071, but I now get the issue mentioned on #212 as a result with Electron 1.7.9

Any idea how I can best track when https://github.com/electron/electron/pull/10298/files will be added to an Electron build version?

Thanks :)

[2017-10-16 20:31] joshaber commented on #151
@etyp I downloaded the version tagged Electron 1.7.9 and verified it has the proper ShipIt version. I'm not sure if there could be caching at play.

[2017-10-18 05:04] jonathon-love commented on #5
so this could be done, reasonably easily (i think), with `xdelta` and `gsync --rsyncable` ... would this be a strategy people would like, or would it make people angry? (or perhaps they just wouldn't like it)

[2017-10-18 05:23] develar commented on #5
@jonathon-love I suggest differential updates. Delta updates are archaic. Please see https://github.com/electron-userland/electron-builder/issues/1138#issuecomment-325097603

BTW, electron-updater will support differential updates for macOS soon (https://github.com/electron-userland/electron-builder/issues/2199).

[2017-11-01 02:05] slyngbaek commented on #204
+1

[2017-11-07 20:50] lashomb commented on #192
Any updates to this?

[2017-12-08 11:55] Ajeey commented on #160
@sergiovilar Did you get any info on this? Having the same issue.

[2017-12-08 19:02] sergiovilar commented on #160
I'm sorry guys, I wasn't able to fix the issue because I no longer work on the project.

[2017-12-15 16:37] plopp commented on #213
Can confirm, just got this when running Visual Studio Code:

[code]

[2018-01-10 11:50] albertbuchard commented on #182
sudo chown -R $(whoami):admin /Applications/Atom.app/

[2018-01-12 21:27] #64 closed

[2018-01-12 22:01] ezekg opened #220 "Update file JSON format and location is unclear"
The new section in the readme about updates using a static JSON file (implemented in #219) isn't very clear as to e.g. what the `updateTo` key is actually supposed to point to, whether `updateTo` points to the _current_ version or the _next_ version. It might be a good idea to clearly state the schema and what each key is for and how Squirrel processes it.

How does Squirrel determine an update is

[2018-01-13 03:34] MarshallOfSound commented on #220
`updateTo` is effectively just the JSON payload an update server would respond with if you wanted to update to the given version.  I.e. The JSON structure can be simplified to this

[code]

Yes

Yes, you should point it directly to `http://mysite.com/updates/myFileCalledAnything.json`

[2018-01-13 05:19] ezekg commented on #220
Cool, appreciate the clarification. I think the readme should be updated to make all of that a bit clearer for everybody in the future. I’m open to providing a PR, if that helps. 👍

[2018-01-13 08:37] MarshallOfSound commented on #220
That'd be great, I'm not sure what exactly is missing because I kinda have everything in my head.  So whatever you found useful if that could go in a PR that'd be awesome 👍

[2018-01-29 22:23] marcpom commented on #187
Did anyone find a solution to this?

[2018-01-31 12:39] marcpom commented on #148
In case anyone else runs into this, it seems to be a sandbox issue with authorization.

Since we are doing a developer ID build (not for MAS), what worked for us is simply disabling sandboxing and entitlements, by removing the "entitlements" property from the build config. It was our mistake keeping it enabled from the MAS build.

[2018-02-03 22:37] igbenic opened #222 "Updating a plugin bundle"
I'm developing a plugin bundle within another application and I'm wondering how to handle updating the plugin separately from the main application that is running it. I tried integrating Squirrel.Mac in the plugin but it gives me the following error: Could not locate update bundle for *main application bundle identifier*. So the updater is using the main app bundle identifier instead of the plugin

[2018-02-05 22:47] erikng commented on #192
Why can't you just post the key online?

Do I really need to put a support ticket in and then blog about it to help others?

[2018-02-05 22:54] kevinmcox commented on #192
It would be great if we could control this behavior for Slack through a configuration profile.

[2018-02-05 22:59] RobertHammen commented on #192
It’s already been blogged:

https://rickheil.com/disabling-auto-updates-on-slack-for-mac/

[2018-02-05 23:10] erikng commented on #192
What on earth is this? Who in their right mind let this make it out into production?

[2018-02-11 18:14] stelabouras opened #223 "A bit lost when trying to integrate Squirrel in my project"
Hey everyone,

I've been trying to integrate Squirrel library to my Mac app and I've been having trouble following the instructions listed in the README file.

So I have installed the `xctool` (step 1), added Squirrel as a git submodule (step 2), run the `bootstrap` script and I am pretty much stuck in step 4.

Reading step 4, naturally leads me to the "Dependencies" section and this is where I am

[2018-02-11 18:35] stelabouras commented on #223
Update:

If I try to run `carthage build` in the 'Squirrel.Mac' directory, I get the following failure.

Is this normal?

[code]

[2018-02-25 21:58] neilmartin83 commented on #192
Just chiming in a bit late on this but since Microsoft are now using Squirrel for Skype 8.x and Teams, this is now an issue with those apps too.

Right now you can run `/bin/launchctl setenv DISABLE_UPDATE_CHECK 1` in the user context at each login to knock it out globally (have tested/verified against Skype 8.x but not Teams, however assume it works for that too) but I fully support the request t

[2018-03-27 14:33] thre-isdd commented on #204
Have similar problem, but after manual relaunch a see that app didn't updated actually (even version in application is the same). Where I can find any logs of this process?

[2018-04-05 09:24] nilsbyte commented on #192
`/bin/launchctl setenv DISABLE_UPDATE_CHECK 1` does not work. The variable is not set when checking it with `env`.

[2018-05-10 17:19] RiteshAdobe opened #224 "How to update signed Mac Apps , identified by different identifiers in plist and Designated Requirement?"
Hi ,

We have an urgent situation where-in we need to push our update for our mac app. The problem is that the identifier ( in DESIGNATED REQUIREMENT section) is different for both of them. We did not pass an explicit DESIGNATED REQUIREMENT and now we have run into this issue.

1) Is there any way we can push the update  with different designated requirement's identifier?

2) Also, upon installing

[2018-05-11 19:43] benjtinsley commented on #201
@vojtatranta i am also encountering this problem. when trying to test my auto update from within my project directory i get the same error. have you been able to find a fix?

[2018-05-15 16:15] scls19fr commented on #213
I'm also facing same issue.

[2018-05-24 14:37] avner-hoffmann commented on #182
Hi, what was the decision about this issue?
To do nothing?

[2018-07-01 15:02] daylightbrightledlight opened #226 "Remove `.DS_Store` files"
I've noticed that released versions of `Squirrel.framework` contain temporary `.DS_Store` files in the following locations:

- `Squirrel.framework/.DS_Store`
- `Squirrel.framework/Versions/.DS_Store`
- `Squirrel.framework/Versions/A/.DS_Store`

I was able to find that `Squirrel.framework` contains these `.DS_Store` files in various macOS apps by using the following command:

`find "/Applications/"

[2018-07-16 09:31] benoist opened #228 "Error using the auto update"
A lot my users are reporting an error when trying to update the app.

It throws a code 8 with domain SQRLUpdaterError....

Any idea what this can be? Or how I can debug this further? It doesn't happen on my machine so I have no way to reproduce it and I don't know what the error means.

Thanks in advance!

[2018-07-16 13:34] joshaber commented on #228
Hi @benoist, it looks like that's the error code for when the app is running on a readonly volume. That most commonly happens after the app's been downloaded but hasn't been moved, and so it's kept in quarantine. See https://github.com/Squirrel/Squirrel.Mac/issues/182 for more information.

https://github.com/Squirrel/Squirrel.Mac/blob/2a001cc575f6278cef3567690a99ab3a76a021cb/Squirrel/SQRLUpdater.

[2018-07-18 03:51] caioalmeida97 commented on #182
Hello

I tried dragging the Atom.app from the Applications folder into the Desktop (just like @himynameisjonas said), but it just creates a new Atom.app alias, and when i drag the Atom.app alias back to the Applications folder, nothing happens.

Any ideas of what to do?

[2018-07-22 14:15] weshicks commented on #182
@caioalmeida97 CMD + drag to the desktop so that it doesn't create shortcut. I was having this problem with VS Code and this solved it for me. (Make sure the app isn't running just to be safe.)

[2018-08-10 00:14] daylightbrightledlight commented on #226
I want to look at solving this. I am wondering why the [latest binary release](https://github.com/Squirrel/Squirrel.Mac/releases/tag/0.3.2) has `.DS_Store` files.

[2018-08-22 06:21] ybizeul opened #229 "How to get rid of that thing?"
Shipit is respawning every second how to I get rid of that thing?

Apparently some lunatic in Microsoft Teams and Postman decided to use it for software update, can we shut it down?

Thanks

[code]

[2018-08-30 16:25] devinfoley opened #230 "Release with latest SQRLUpdater.h"
Hello! I noticed that release 0.3.2 doesn't contain `initWithUpdateRequest:updateRequest requestForDownload:requestForDownload` in SQRLUpdater.h. This method has been added back to SQRLUpdater.h in current master (via https://github.com/Squirrel/Squirrel.Mac/commit/c80f0066498e72e1983fba40dc8b55bfe1ad5d15#diff-b53ab009e033cc0b6170c88536855d67).

Are there any plans to cut a new release containing

[2018-09-27 18:01] merriam commented on #182
Please do note:
1.  The issue is "closed".  It was not "resolved".  The shortest answer is "sometimes goes away; live with it."
2.  New users run into this on their first exposure to Atom.  That is, the first impression is "OK, Atom only works sometimes".

[2018-10-30 12:28] meekaah commented on #204
I've found a workaround, if you delete the ~/Library/Caches/<appname>.ShipIt/ folder before checking for updates and calling quitandinstall, there is no issue. I'm guessing there are some leftovers that seem to block the next update

[2018-10-31 20:50] steffanhalv opened #232 "Gatekeeper Path Randomization makes life hard #182"
A follow up for https://github.com/Squirrel/Squirrel.Mac/issues/182

The issue was never solved and it creates a big bunch of problems to many of us.

https://github.com/Microsoft/vscode/issues/7426

Nothing you can do about it?

The problem still exist on macOS Mojave

[2018-10-31 23:49] MarshallOfSound commented on #232
@steffanhalv That issue was closed by https://github.com/Squirrel/Squirrel.Mac/pull/186

There is a usable error that you can show your users that tells them how to fix it (move the app to a non-readonly place)

[2018-11-01 12:10] steffanhalv commented on #232
@MarshallOfSound Sorry, guess I didn't look close enough, but still doesn't solve the problem for me.

Here is a summary for how I got into this and hopefully you have better insights as of where the problem occurs:

1. Creating an electronjs application
2. Using latest electron-updater which uses Squirrel.Mac for autoupdates on mac
3. Creating a build and upload it to the web as a .dmg  in a gith

[2018-11-07 22:53] github-12341234 opened #233 "ShipIt repeated crashes."
ShipIt repeatedly crashes every few seconds on my Mac.

*** Assertion failure in __28-[RACSignal(Operations) and]_block_invoke(), /Users/sattard/projects/Squirrel.Mac/Carthage/Checkouts/ReactiveCocoa/ReactiveCocoa/RACSignal+Operations.m:1280

[2018-11-19 10:03] #205 closed

[2018-12-03 23:43] acg commented on #204
Seeing this one as well @Andrew1431! Exactly the same sequence of messages in the ShipIt stderr log.

[2018-12-05 10:07] mrmass commented on #182
FYI - I'm new to mac platform, but the update only started working when I restarted my mac after the move from Downloads to Applications via Finder.

Not sure whether it's normal or not but it might save someone a bit of trouble...

[2018-12-13 02:44] surajbarkale commented on #204
I have hit this problem with VSCode update and following 52 lines are added to `~/Library/Caches/com.microsoft.VSCode.ShipIt/ShipIt_stderr.log` every few seconds. I do not have visual studio code open. When I checked this file, it was over 5GB in size!
[code]

[2019-01-22 15:16] letoosh opened #234 "Enable Hardened runtime"
Is there a way to notarize an app with Squirrel in it?

I'm trying to submit it for notarization, but I get:

[code]

I've set "Enable Hardened Runtime" on ShipIt target but didn't help.

[2019-02-01 04:46] cloverich commented on #220
@ricky300300 are you asking because the updater is not accepting that json file?

[2019-02-05 09:40] hassenius commented on #182
For anyone arriving here, here's what solved the problem for me:

1. Shutdown Atom
2. Run (in a terminal)
[code]
3. Start Atom again
 It was now able to run updates no problem

[2019-02-12 15:52] aberezin commented on #182
That wfm. Specifically
1. shutdown Atom
2. cd /path/to/my/apps/
3. xattr -dr com.apple.quarantine ./Atom.app

[2019-03-15 21:27] devinfoley commented on #233
I'm having this issue as well.

[2019-03-27 23:34] joshuapinter commented on #220
Hi @ezekg, I also share your confusion with the JSON formatting requirements from the README. Did you ever get around to creating that PR? I can gladly pick up the baton here if I can get some help getting mine to work.

@MarshallOfSound Thanks for your detailed response. I've got a question for you on this response:

What do you mean by that?

I'm confused by the following format of `updateTo`:

[2019-03-28 16:11] apizz commented on #192
I feel like I'm having Dejá vu ...

[2019-03-28 16:37] grahampugh commented on #192
doe this mean that `/bin/launchctl setenv SLACK_NO_AUTO_UPDATES 1` will work here if run for every user?

[2019-04-15 08:57] lukasz-formela commented on #182
Hello!
As @mrmass stated:
Not only you have to move the app but you also need to restart the platform.
Kudos!

[2019-04-23 16:25] tbridge commented on #192
Bumping this again, since it appears to do this on install of Slack 3.4.0. Annoying as hell.

[2019-04-23 23:54] lashomb commented on #192
I have brought this up to Slack, asking them to contribute to this framework as they use it and enterprises would welcome control over their updates. Their engineering team said they wouldn’t be doing that.

[2019-04-24 09:45] ygini commented on #192
And more over, Slack just told me they don't support mass scale deployment…

https://twitter.com/SlackHQ/status/1120976379795914753

Squirrel is really the root issue here, that's really bad.

[2019-04-24 10:26] lashomb commented on #192
They told me VPP and Microsoft Store for Business were for those purposes.

[2019-05-02 13:26] m-lamarre commented on #182
Thanks @himynameisjonas
This worked for me. My Atom was in the Applications folder. So I moved it to the Desktop and back, and now Updates are downloading 😅 🤷‍♀ 🤦‍♀

[2019-05-15 06:55] MichalMMac commented on #192
Today I wanted to turn off auto update for Skype. Turns out it's also using Squirrel. Would love to have manageable preferences key for Skype. Only found LaunchAgent workaround. Deploy weird workaround or let standard users suffer through auto update prompts requiring admin account.

[2019-05-15 14:08] mRs- opened #237 "ShipIt not finding ReactiveCocoa"
[code]

It seems that ShipIt is not finding the Path to ReactiveCocoa. Maybe ShipIt is in the Resources Folder?

Currently I'm implementing Squirrel with Carthage… Seems not to work right now out of the box…

[2019-05-16 02:13] MarshallOfSound commented on #237
@mRs- I believe the issue you are seeing is fixed by https://github.com/Squirrel/Squirrel.Mac/pull/236 and caused by b426994d83539dd395bb838093b3d31c6cb72cea

I just reverted that commit now (thought I had already, sorry about that)

Refs: b5ce589c4ca5d61388f555a8fd4a7705a114e427

[2019-05-16 07:32] mRs- commented on #237
Yep it's now working.

A Carthage release for the recent version would also be a fine thing :)

Cheers and thanks for your help!

[2019-05-16 07:32] #237 closed

[2019-05-16 07:50] mRs- commented on #234
Yep got the same Issue. Is there a way to get this running. I really want to notarize my App. Without this, I can't use Squirrel for updating my Application :(

[2019-05-16 08:09] MarshallOfSound commented on #234
Are y'all actually signing the shipit binary?  I don't know how y'all are codesigning but I've successfully notarized an app with squirrel.mac I side it :)

[2019-05-16 08:26] mRs- commented on #234
Maybe it's a problem that I use Carthage? It seems the binary has no direct connection to my current Xcode Project (It's a dependency of the Squirrel.Framework).

Maybe we need to add ShipIt as a Dependency to the main Project?

[2019-05-16 08:30] MarshallOfSound commented on #234
I'm pretty sure it'll just be a case of you finding the right configuration.  My codesigning is done manually by executing the codesign binary so I don't know what project config you'd need to do to get the equivalent result

[2019-05-16 09:32] mRs- commented on #234
I added a **Run Script Phase** to my **Build Phases**. Now it's working.

It's the following script:

[code]

[2019-06-04 22:05] mRs- opened #238 "Squirrel is not compatible with Xcode 11"
I just tried to build the current version with Xcode 11. Unfortunately this did not work.

When I open the app I get an error dialog which tells me that old Swift code exists and needs to be ported (even to Xcode 10.1).

When compiling there are further problems and it is no longer possible to run Squirrel.

[2019-06-15 06:09] PotterDai opened #239 "SQRLCodeSignature does not work if the app is notarized by Apple."
It seems Apple's notarization will change the signature of the application, which results in failure of verification of different version.

[2019-06-15 06:19] #239 closed

[2019-06-28 13:51] amelco commented on #213
I can confirm the error as well. The output is:

`[main 2019-06-28T13:45:50.721Z] update#setState checking for updates
2019-06-28 10:45:50.727 code[51674:1233310] *** Assertion failure in +[SQRLDirectoryManager currentApplicationManager], /Users/sattard/projects/Squirrel.Mac/Squirrel/SQRLDirectoryManager.m:30`

I have this error always when I try to run vscode from the symbolik link:

[code]
For e

[2019-07-03 09:24] Neoster commented on #223
It's too bad you haven't got any response to your issue by now. I am facing the same difficulties importing/including the Squirrel library into my project. I am not using Carthage by the way. Following the instructions from the README doesn't get me there...

[2019-07-15 19:08] rickheil commented on #192
While it does not solve for any OTHER apps, Slack v4.0 introduces a preference to disable auto-updating if desired. https://rickheil.com/disabling-slack-updates-in-v4-0/

Other apps are still affected by this bug.

[2019-07-15 19:11] apizz commented on #192
@rickheil !  At least some bit of good news after ⏲ ⏲ ⏲

[2019-07-16 01:36] claytantor commented on #213
Same problem when running code with a symbolic link on a mac.

[2019-07-16 02:32] MarshallOfSound commented on #192
@rickheil I still don't believe something like this belongs at the framework level, as apps should be making these decisions themselves.

The code to make this kind of feature in your own app is tiny, e.g. the code that slack / electron apps can use to do it.

[code]

[2019-07-16 16:44] nmcspadden commented on #192
@MarshallOfSound that line of thinking causes an almost incalculable amount of work at the enterprise level. If we deploy a dozen apps that each use Squirrel as their update framework, you're suggesting that we must individually enforce update settings on each of those apps individually. That generally means the creation of a dozen nearly identical configuration profile payloads, all of which may

[2019-07-16 17:54] MarshallOfSound commented on #192
@nmcspadden Sorry if I wasn't clear, I 100% get your perspective that from a sys-admin side of things you want a simple killswitch so that you can manage updates yourself using your existing infrastructure.

My point was more around I don't think _I_ or this project have the right to make that decision on behalf of apps.  If _apps_ come along and ask for this option then that's a different questio

[2019-07-16 20:10] anaisbetts commented on #192
@nmcspadden it is not appropriate or reasonable to patch Squirrel and change policy for "thousands* of applications, in a backhanded attempt to change some vendor's app for them. Please talk to your application vendor, this is not a user support forum.

[2019-07-16 20:19] apizz commented on #192
@anaisbetts Given the number of people on this thread and length of time that this issue has been in place here, your comment comes across to me as incredibly dismissive and ignores the legitimate issue & concern that we as administrators in the enterprise have when we can't manage the rollout of software updates across our fleet.

I honestly don't understand why this is so hard to understand this

[2019-07-16 20:35] anaisbetts commented on #192
@apizz while I agree that this is absolutely a problem for IT admins, everything that I said still continues to be true. This is not the Way to fix it.

[2019-07-16 20:46] anaisbetts commented on #192
I think that a great compromise here would be to add a new `-isEnterpriseDeployed` public API that app developers can query, that polls a well-documented, public plist key.

That way, developers can change their policy (maybe by ignoring updates altogether, maybe by doing something else), and IT admins still can use one single key.

[2019-07-16 21:03] ygini commented on #192
The point you seems to miss is: this feature does not have to be linked to any software editor choice.

Look at this insane thread, do you want us to have the same waste of time with all developers relying on your framework?

Should I remind you that your product exist for one exact reason: developer that don’t want to bother with native code at all.

So think a minute about what you said and cons

[2019-07-16 21:05] bp88 commented on #192
@MarshallOfSound You mentioned that this was a simple one line of code that developers could introduce in their apps, but it's clear that if it were that easy all apps would be adding this option. The problem is that in many cases IT administrators are a complete after thought for many developers. The reason is that those developers are trying to just get the app out there and focus on their main

[2019-07-16 21:36] MarshallOfSound commented on #192
@bp88 In a hypthetical world where [this environment variable](https://github.com/Squirrel/Squirrel.Mac/blob/cb838776ce22bcbf41def7b9a1352f24120bab29/Squirrel/SQRLUpdater.m#L199) was extended with a `NSUserDefaults` key lookup for `SQDisableUpdates` or something how do you propose that that is surfaced to developers.

While I agree with all of the above that this would be _perfect_ / _amazing_ for

[2019-07-16 22:14] gregneagle commented on #192
One assumes there is a case where no update is available.

When this proposed global preference is set, the code couldjust always act as if no updates were available. No developer code changes needed.

[2019-07-16 22:28] gregneagle commented on #192
[code]

[2019-07-16 22:35] MarshallOfSound commented on #192
@gregneagle That actually seems somewhat reasonable and would slide into expected behavior territory which is good.  Let me do some offline chatting with some folks and get a feel for how this would go down

[2019-08-05 19:15] willthemoor commented on #182
Running OXS 10.14.5. Had the app installed in `/Applications`.

Moving it to the desktop and back via Finder did not work. Permissions looked right via cli.

`xattr -dr com.apple.quarantine /Applications/Atom.app/`
and
`xattr -dr com.apple.quarantine /Applications/Atom\ Beta.app/`
worked for me.

[2019-08-08 12:53] bp88 commented on #192
@MarshallOfSound Just curious how offline discussions are going concern this topic.

[2019-08-13 20:51] mr-newell opened #240 "Update check failed and I have no clue why"
I have a code-signed Electron app to which I'm trying to add auto-update functionality.

I have set up a Lambda function at `https://api.staging.my-domain.com/updater/checkUpdates/products/product-name/platforms/darwin?v=1.0.0` which returns a 200-status JSON response that looks like this:

[code]

I can paste that URL into my browser and it will download the file without a problem.

Despite this,

[2019-08-14 00:10] anaisbetts commented on #240
Escape the spaces in My Product Name, `My%20Product%20Name`, spaces in URLs aren't actually valid, the browser is fixing it up for you

[2019-08-14 15:32] mr-newell commented on #240
@anaisbetts Unfortunately it's still failing even after trying the encoding.

[2019-08-28 23:50] zorgiepoo commented on #182
That's working as expected for app translocation (i.e, you need to move the app *using* Finder to have auto-updates available). Atom needs to update Squirrel so it doesn't try to auto-update in that scenario and/or ship their app in a signed dmg. That's an issue for Atom, not here.

[2019-08-29 03:39] zorgiepoo commented on #182
Actually I take that back.. Looking at the code it looks like squirrel tries to notify the user if an update is available. It shouldn't. It should silently fail unless the user manually requests for an update like Sparkle. Responsibility is left to the apps or other frameworks (eg LetsMove) if they want the app to not be on a read-only volume. To each their own.

[2019-10-09 22:10] dan003400 commented on #182
This is happening when the Atom.app resides in ~/Applications

[2019-10-20 06:17] koy0612 commented on #213
Oh I see

[2019-11-18 18:55] jhriv commented on #182
Verified: using Iterm2 to mv ~/Downloads/Atom.app to /Applications keeps the read-only error. Using Finder to drag and drop it to /Applications allows the updater to function.

macOS Mojave Version 10.14.6

[2019-11-27 11:33] #238 closed

[2019-11-28 13:44] mRs- commented on #201
When you download your app and you try launching it in the same folder the application is sandboxed. The user must move the app first in another folder, like the application folder

[2019-12-03 16:37] amelco commented on #213
Here is the solution:
https://code.visualstudio.com/docs/setup/mac#_launching-from-the-command-line

[2020-02-26 18:50] jeremy148 opened #243 "- (RACSignal *)updateFromJSONData:(NSData *)data;"
https://github.com/Squirrel/Squirrel.Mac/blob/cb838776ce22bcbf41def7b9a1352f24120bab29/Squirrel/SQRLUpdater.m#L66

[2020-02-26 19:24] #243 closed

[2020-03-20 11:39] harryi3t commented on #124
@jspahrsummers

Does it depend on the size of the App? Our App is around 300 MB and it takes around 16-30 seconds when I am using SSD for the updated App to start launching. I am guessing this number would be much higher for hard disk drives.

Did you find any workaround to avoid this?

[2020-03-21 15:58] jspahrsummers commented on #124
@harryi3t This thread is more than five years old. I'm afraid I don't have the context here anymore.

[2020-03-26 20:01] JeffFink opened #244 "Upgraded to Mac Catalina, now #include errors detected in VS Code"
VS code was working fine, then I upgraded to Mac Catalina, and I now have this error

#include errors detected. Please update your includePath. Squiggles are disabled for this translation unit

Also this error

cannot open source file "upstream"
cannot open source file "iomanip" etc...

My c_cpp_properties.json is

{
    "configurations": [
        {
            "name": "Mac",
            "include

[2020-03-29 05:21] bp88 commented on #192
@MarshallOfSound Just following up on how offline discussions are going concern this topic.

[2020-04-01 21:56] core-code opened #245 "improved interoperability with app-updaters"
this is not a bug report per-se but rather a request for an enhancement that would be in the best interest of users of apps using Squirrel.

Squirrel allows apps to implement auto-update functionality, which is great. however, some users prefer to have software that can keep all their apps up-to-date at once as this has various benefits. we are offering one of those products [1], but there are oth

[2020-04-01 21:57] core-code commented on #245
note that this also affects the other popular Mac self-update library. i've sent a report to them https://github.com/sparkle-project/Sparkle/issues/1568. it would be great if we could solve this situation with a common mechanism to both Sparkle and Squirrel, but we'd have no problem with two distinct solutions either.

[2020-04-02 23:18] anaisbetts commented on #245
I think that if you see Squirrel as a framework, you should simply not touch this app. Why do users need two updaters for their app?

[2020-04-03 18:04] core-code commented on #245
@anaisbetts thanks for your answer, but ... ugh.

this is not an option. we'd have to remove support for automatically updating thousands of apps. our users would hate that.

huh - why do humans use computers instead of enjoying nature and live in the forest - wouldn't this solve millions of problems in an instant? i find this attitude very weird.

the fact is that people love app-updaters and jus

[2020-04-03 20:45] anaisbetts commented on #245
You should take this up with individual app developers, it is not Appropriate to try to change the update policy of other developers' apps via rigging the underlying updater app under their feet. At the end of the day, Squirrel is a *library* that developers use to implement their update policy - *they* are the ones that get to choose that policy, not us.

[2020-04-07 16:17] core-code commented on #245
are you honestly suggesting we contact more than 1000 app vendors shipping Mac apps that use 'Squirrel' individually about fixing an issue that could be trivially fixed by just making trivial adjustments within Squirrel itself?

i did not suggest 'rigging' of any kind.

i know it is a library, this is exactly why i suggested fixing an issue that affects /all/ apps using Squirrel at the library lev

[2020-04-27 17:19] ambroselittle opened #247 "Squirrel-based Install Dialogue Burns CPU/Fans on Mac"
Please [see this bug filed with VS Code for context/details](https://github.com/microsoft/vscode/issues/95534). They suggested I file this with you since they are using this framework.

Let me know if you have any questions!

[2020-04-28 14:20] ambroselittle commented on #247
Please note we found a workaround on the linked issue. Not sure if that's something that can be fixed here or not.

[2020-05-19 21:15] bp88 commented on #192
@MarshallOfSound Hope you and your family are safe during these pandemic times. Just wanted to check in to see if you ever got a chance to have any offline discussions on this particular issue?

[2020-06-10 21:33] heitara commented on #220
I've found the proper part of the documentation on Electron page - https://www.electronjs.org/docs/api/auto-updater#methods. In short, it's working, but the correct options should be passed.

Could we update the documentation to reflect the flag that should be passed. If you are coming from Electron project it might slip.

[2020-06-26 21:00] simX commented on #192
Lol at this thread, and how admins continue to be an afterthought.  @MarshallOfSound, has anything been done on this?  This has been 3.5 years in "discussion" now, maybe it's actually time to make admin's lives easier?

[2020-07-07 04:05] zdQAQ commented on #181
same err + 1
`2020-07-07 12:04:37.300 ShipIt[97324:6192112] Beginning installation
2020-07-07 12:04:41.839 ShipIt[97324:6188078] Moved bundle from file:///Applications/Ada%E5%B7%A5%E4%BD%9C%E5%8F%B0.app/ to file:///var/folders/39/gxt8xm791qg5wp8l4z_h2v_00000gn/T/ada.ShipIt.AziEDhrI/Ada%E5%B7%A5%E4%BD%9C%E5%8F%B0.app
2020-07-07 12:04:41.839 ShipIt[97324:6188078] Moved bundle from file:///var/folder

[2020-07-17 06:03] mRs- opened #250 "Is this Project still alive?"
Wanted to check if this is still in active development?

[2020-07-17 07:22] MarshallOfSound commented on #250
These kinds of questions do not serve anyone at all, either use the project or don't, asking "is this maintained" or "is this alive" is a pointless question that only serves to annoy the maintainers.

[2020-07-17 07:22] #250 closed

[2020-07-23 01:52] apizz commented on #192
![external-content duckduckgo](https://user-images.githubusercontent.com/11789931/88245569-a0d07280-cc65-11ea-9a32-0dd0b5b63cd3.gif)

[2020-07-28 07:37] mRs- opened #251 "Xcode 12 / macOS 11 Support"
Currently i'm trying to get Squirrel up and running with macOS 11 and Xcode 12.

The major Problem is how outdated the used 3rd Party Libraries are and that macOS 10.8 is being dropped from Xcode 12.

**ReactiveCococa**
ReactiveCocoa was moved to ReactiveObjC and the versioning is completly different from the ReactiveCocoa Repository.
https://github.com/ReactiveCocoa/ReactiveObjC

How is it possib

[2020-07-28 08:09] MarshallOfSound commented on #251
@mRs- Electron currently builds Squirrel.Mac from source with a small number of patches applied.

1. Add configuration for building with Chromiums build system (GN) --> https://github.com/electron/electron/blob/master/patches/squirrel.mac/build_add_gn_config.patch
2. Update to support newer version of ARC --> https://github.com/electron/electron/blob/master/patches/squirrel.mac/fix_ensure_that_sel

[2020-07-29 12:21] mRs- commented on #251
Okay, we make the decision to move away for Squirrel. Thanks for your Input

[2020-07-29 17:26] cbenhagen commented on #251
@mRs- Please reopen the issue. Even if your project is moving away from Squirrel, others might still want to use it.

[2020-07-29 17:28] cbenhagen commented on #125
@MarshallOfSound years have passed since this was filed and now Mantle and ReactiveCocoa both have CocoaPods  support. I am planning to build a Squirrel plugin for the Flutter framework and CocoaPods would make building that plugin a lot easier. Do you mind to reopen this issue? Or should I file a new one?

[2020-07-29 19:09] MarshallOfSound commented on #125
@cbenhagen The same statement still kind of stands, as the only real "maintainer" of this repo we don't actually build Squirrel.Mac using xCode, we (Electron) build Squirrel.Mac from source using Chromiums build system and therefore use `gclient` to manage the dependencies on `Mantle` and `ReactiveObjC`.  Any PR you land here to that effect (using CocoaPods) would not really be utilized by anyone

[2020-08-07 06:44] glennawatson commented on #251
Was talking to Ana,

@MarshallOfSound would you be interested in a PR to update this to XCode 11/12 level?

Need it for a current project I'm working on and figured could pay it forward a little?

[2020-09-16 15:04] borlam commented on #220
I'm agree with this issue.
I have this json:
`{
    "currentRelease": "3.3.118",
    "releases": [
        {
            "version": "3.3.118",
            "updateTo": {
                "pub_date" : "2020-09-11T15:24:55-05:00",
                "version": "10.0.119_future",
                "name": "MyApp",
                "url": "https://path/to/release/MyApp.zip"
            }
        }
    ]
}`
My

[2020-09-17 21:06] borlam commented on #220
If I upload this json the update is done properly:
`{
    "currentRelease": "8.2.3",
    "releases": [
        {
            "version": "8.2.3",
            "updateTo": {
                "pub_date" : "2020-09-11T15:24:55-05:00",
                "version": "10.0.119_future",
                "name": "MyApp",
                "url": "https://path/to/release/MyApp.zip"
            }
        }
    ]
}`

[2020-09-18 03:59] heitara commented on #220
@borlam you have to create a proper release, then your version is reflected properly.
You can print the app version with the following code:
[code]

[2020-09-18 08:05] borlam commented on #220
Hi @heitara,
I have a release inside a dmg.
This is my code for view the version and the autoupdate:
`import { ipcMain, app, autoUpdater } from 'electron';
......
dir = config.darwin + '/update-darwin.json';
fullurl = baseUrl + dir;
serverType = 'json';
autoUpdater.setFeedURL({ url: fullurl, serverType: serverType });
autoUpdater.checkForUpdates();
`
app.getVersion() shows 3.3.118

:O

The electro

[2020-09-18 10:39] heitara commented on #220
It won't update, because the app is at the latest version `3.3.118` and you have the same version in the json file.
It updates with the later JSON because `8.2.3` is different from `3.3.118`.

[2020-09-18 10:49] borlam commented on #220
I think this json says version 3.3.118 must update to 10.0.119_future", "name": "MyApp", "url": "https://path/to/release/MyApp.zip"

[2020-09-18 11:12] borlam commented on #220
Could you propose how to should be the json? I have the version 3.3.118 and the version 10.0.119

[2020-09-18 11:26] heitara commented on #220
You have to change currentRelease": "8.2.3" to the release that's it the most recent one and you want every one to use.

[2020-09-23 21:47] cooncesean commented on #251
@mRs- may I ask what your team moved to as an alternative?

[2020-09-23 22:46] kklash commented on #251
Our Electron (v8.5.1) application, called 'Exodus', is encountering a bug when using Electron's `AutoUpdater.quitAndInstall` method on the MacOS 11 Big Sur beta. The app quits and installs the update successfully, but fails to relaunch after quitting.

Checking `~/Library/Caches/com.electron.exodus.ShipIt/ShipIt_stderr.log`, we find this:
[code]

The 'file doesnt exist' error would seem to be irre

[2020-09-28 18:43] jhohiselkeeper opened #252 "Application becomes translocated after auto-update"
I have recently discovered that our Electron app is not properly installed at the `/Applications` directory after auto-update. The app does exist in the Applications directory, however it is still translocated.

Steps followed:
Install app via drag-and-drop in Finder to `/Applications`
Launch app with update available (app is not translocated)
Close application, Squirrel/ShipIt installs the new ve

[2020-11-18 13:11] stk-ableton commented on #247
This is a very annoying and long-standing problem, and it would be great to get it fixed. The workaround that @ambroselittle refers to in the comment above is not a real solution, because it involves chown-ing the application to the current user, which is not something that you want to do from a security point of view.

The problem occurs whenever the dialog "An update is ready to install." is on

[2020-11-19 10:31] bp88 commented on #192
@MarshallOfSound Would you be able to give us an update on how discussions on this issue and the proposed changes went?

[2020-11-25 10:46] twitharshil opened #256 "Latest release is quite old, doesn't have recent master changes"
@joshaber Few of the recent changes merged to the squirrel binary to support BigSur Os updates are not present in the latest release. A new release with these changes will help :)

[2020-12-03 16:17] bp88 commented on #192
@MarshallOfSound I get this strange feeling that you might be ignoring us. Why? We're just trying to have a discussion and you had mentioned that you would discuss this with other devs. Where did that conversation land?

[2020-12-09 14:37] bp88 commented on #192
@MarshallOfSound Just checking in again. Any update is appreciated.

[2020-12-10 17:44] bp88 commented on #192
@MarshallOfSound Just checking in again. Myself and others are only looking an update on the discussion you mentioned you'd have regarding this request.

[2020-12-22 20:55] joshua-d-miller commented on #192
I used to disable the Squirrel Helper so that it wouldn't bug our nonadministrative users. Now that we deploy Discord that is no longer possible because Discord relies on the Squirrel updater. It would be really nice if the devs who have obviously ignored our request for four years now would actually respond instead of just letting us screaming into the ether. Unfortunately, we see this often wher

[2021-01-08 13:35] stk-ableton commented on #247
Just a friendly ping. Anybody?

Cc:ing @jspahrsummers who touched this code last.

[2021-01-09 13:49] jspahrsummers commented on #247
Very sorry, but I haven't worked on this codebase in ~6 years. I'm not knowledgeable about it anymore.

[2021-01-26 06:45] arubdesu commented on #192
I just wanted to mention @shiftkey is "fighting for the users" over in threads like https://github.com/desktop/desktop/issues/3410#issuecomment-472162125, this issue mentioning both updates and helper tool may dilute some of its effectiveness, but for reference the lack of delta patching is more fuel for this fire.... issue #5! Single digits! 😅

[2021-02-09 22:19] wegotoeleven commented on #192
I'm adding my +1 to this issue.

[2021-02-09 23:55] apizz commented on #192
It's like at this point >> https://github.com/Squirrel/Squirrel.Mac/issues/192#issuecomment-512027702 << we finally got someone to understand that this isn't that hard and then crickets

[2021-05-13 01:09] tmoschou commented on #247
Since all Electron applications that make use of [Electron's Auto Updater API](https://www.electronjs.org/docs/api/auto-updater#macos) (e.g. (Visual Studio Code, Atom, Slack, to name a few) are effected by this transitive dependency on Squirrel.Mac, and given https://github.com/Squirrel/Squirrel.Mac/issues/247#issuecomment-757210176 and https://github.com/Squirrel/Squirrel.Mac/issues/256, I've rai

[2021-05-18 07:31] codesimplicity commented on #247
After I finally invested the time to investigate why that is still occurring regularly even on newer Macs, I stumbled upon this issue. I'm a bit confused that it does not have more attention as it at least annoys me regularly and must be burning a lot of energy for nothing.

[2021-06-18 22:08] #247 closed

[2021-06-30 23:51] indutny-signal opened #260 "Error when moving bundle during auto-update"
These are two different errors that our users have encountered. At least the first one has produced `error` event on electron's `autoUpdater` object and so the update couldn't proceed. Sadly we don't have exact error message because the first argument of `error` handler is an empty object `{}` and we don't log the legacy string that comes as a second argument:

[code]

In the second case the updat

[2021-07-29 16:26] ezekg opened #261 "Add support for update server to respond with an HTTP redirect instead of JSON"
Instead of requiring an update server to respond with [a specific JSON schema](https://github.com/Squirrel/Squirrel.Mac#update-server-json-format), what if we also allowed a server to respond with an HTTP `301`, `302`, `303` or `307` redirect pointing to the new release URL? This would allow for third-party distribution services, such as [my own](https://keygen.sh/docs/api/auto-updates/) to be mor

[2021-08-01 04:14] aguynamedben commented on #204
Is anybody still seeing this? We're seeing it with a small subset of users on Electron 12.0.6. We use electron-updater, and when electron-updater's version of `autoUpdater.quitAndInstall()` runs (not the stock Electron `quitAndInstall()`) the app quits, but the user doesn't end up with the new version of the app.

Logs reformatted for easier reading.

[code]

Is there a workaround? I'm going to as

[2021-08-01 08:18] develar commented on #204
@aguynamedben Looks like that in your case (https://github.com/electron-userland/electron-builder/issues/6120) electron-updater doesn't play any role, since update downloaded and transferred to Squirrel.Mac correctly. electron-updater only sends update to Squirrel.Mac but doesn't touch user file system.

[2021-09-13 09:08] fmamberti commented on #192
+1 on this. We are now in the position of having thousands of Macs with non-admin users which can either have to deal with a few admin prompts for updating a few apps, or not being able to launch Discord...

[2021-10-07 20:56] indutny-signal opened #262 "ShipIt runs several updates in a row, only last one succeeds"
We got a following log from our user:

[code]

They claim that ShipIt was using >80% CPU for some time when they decided to update the app. Looking at the logs it seems that it couldn't update immediately and reattempted it several times before succeeding. Any hints on what could have gone wrong with the update? Should we ask for additional information to help get this fixed?

[2021-11-15 17:09] XRenSiu commented on #252
I have the same question.

[2021-12-05 03:13] jasoncoker925 commented on #262
I want to invest in your company 😃

[2021-12-23 22:11] jwatte commented on #261
Given that this is 20 years old well established web tech, I thought this would Just Work (tm.)
And now I'm forced to come up with some terrible rewrite rule to make this happen.
Please implement this!

[2021-12-29 06:13] mqliutie opened #263 "Why should I privilege by prompt "An update is ready to install."?"
Using electron to update my.app the prompt will be shown.

Beacuse  I am a frontend developer, I don't know the code written by OC or C++.

I have searched the check writable code
[code]

That means `targetWritable` or `parentWritable` is false.

Assuming that my App is in `Applications` folder named `Super` built by  electron.

I want to know which directory is not writable.

Thanks

[2022-01-19 20:07] CliftonH opened #264 "Unexpected Version Comparison Result"
We have an electron app which follows a semantic versioning scheme with a prerelease suffix to indicate release channel. Our normal release process might include publishing more than one alpha or beta before being published to GA and might look something like this: alpha1 → beta1 → beta2 → GA

specifically:

`4.1.0-alpha1` → `4.1.0-beta1` → `4.1.0-beta2` → `4.1.0`

We noticed some strange behavior

[2022-01-20 02:27] anaisbetts commented on #264
I believe you are correct, but also I want to point out that your versioning scheme is flawed - you cannot use `beta1`, `beta2` etc, the number at the end is not parsed, it's sorted in simple alphabetical order, so e.g. `beta2` > `beta10`, which is probably not what you want

[2022-01-20 16:04] CliftonH commented on #264
Thanks, Ani, you're totally right. We're in the middle of a large refactor of our versioning/updating pipeline to address this and other issues while following a proper semantic versioning scheme, however this bug will still be an issue for us.

[2022-01-21 05:37] aprilandjan commented on #124
I'm facing the exact same problem described here, and I believe the bundle size and bundle file counts matters

[2022-02-14 18:27] MrCoBalt commented on #192
So almost 6 years on… I still have to deploy `/bin/launchctl setenv DISABLE_UPDATE_CHECK 1` globally just so that my users don't get useless "admin helper" prompts they can't do anything about… Not a great look here on the complete lack of followup @MarshallOfSound 😢 (thankfully not using Discord internally…)

[2022-02-20 00:06] abulgatz commented on #192
As a sysadmin managing Macs with an MDM and pushing apps and updates (users don't have admin rights), it would be really nice if Squirrel could take after Sparkle and allow us to set per-app PLIST settings to disable auto-update. Discord and Spotify would benefit from this.

[2022-07-19 07:09] peach365 commented on #252
How did you solve this problem

[2022-07-21 23:41] MichaelRDionne commented on #182
Yep, same here.
1. I quit VSC
2. moved the APP from downloads to Applications
3. opened VSC from inside the Applications folder.

Worked fine after that. Hope that helps.

[2022-07-26 12:13] pietrovismara opened #266 "Launching the app manually during update installation stops the update"
After closing the app and starting the installation the update takes about 15s, after which the app is relaunched automatically.

If I launch the app manually before the installation is completed the effect is that the update is stopped.

Is this expected behavior, and if it is how can I show some progress indicator or even prevent the app from opening during the installation?

[2022-10-26 17:18] claudiomaxx commented on #204
This could be an issue with electron autoUpdater, this is what I've found so far:

After checking for updates, I get these events from autoUpdater:
- checking-for-update
- update-available
- update-downloaded

[code]

If I call `autoUpdater.quitAndInstall()` at this point, `launchAfterInstallation` is set to `true`, the update works and the app restarts.

But if instead, I check for updates again,

[2022-11-04 21:18] khaledalam173 opened #267 "New"
.github/workflows/label-templated-discussions.yml

[2022-11-11 05:35] #267 closed, assigned to nobody

[2022-11-11 05:35] khaledalam173 commented on #267
New

[2022-11-18 12:01] #222 closed